
/*************************/
/**********Todo***********/
/*************************/
*{
    margin:0px;
    padding:0px;
}

h2{
    color:black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    border-bottom: black 2px solid;
}

body{
    background-color: gray;


}
header{

    background-color:black;
    border: white 1px solid;
    text-align: center;
}

nav{

    background-color: black;
    color: white;
}
main{

    background-color: grey;
    color: white;
    border-top: none;
    width: auto;
    height: auto;
}
section{

    background-color: grey;
    color: black;
    padding: 10px;

}
hr{

    color:black;
    margin-bottom: 10px;
}
footer{

    background-color: black;
    color: white;

    position: fixed;

    margin-top: 5px;
    bottom:0;

    width: 100%;
    height: auto;

    font-size: 14px;

    z-index: 2;
}

footer  a{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;

}
footer  a:hover{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;
}

button:hover {

    background-color: yellowgreen;
    transform: translateY(-0.1em);
}

button:active {

    transform: translateY(0.1em);
}
@media screen and (max-height: 700px){

    footer{
        height: 13px;
        font-size: 12px;
    }
}
@media screen and (max-height: 600px){

    footer{
        height: 11px;
        font-size: 10px;
    }
}
@media screen and (max-height: 400px){

    footer{
        height: 9px;
        font-size: 8px;
    }
}
@media screen and (max-height: 200px){

    footer{
        height: 7px;
        font-size: 6px;
    }
}

/*************************/
/**********Clases*********/
/*************************/

.Logo{

    width: auto;
    max-width: 100%;
    max-height: 5em;

}
.Titulos{

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;

    border: none;

    margin-left: 20px;
    margin-bottom: 10px;
}
.explicacionesPestañas{

    color:white;
    text-align: center;
    font-size: 18px;

    background-color: black;
    padding: 10px;
}

input:invalid + span::after {
    content: "✖";
}

input:valid + span::after {
    content: "✓";
}
@media screen and (max-height: 700px){

    .footerGeneral{
        height: 13px;
        font-size: 12px;
    }
}
@media screen and (max-height: 600px){

    .footerGeneral{
        height: 11px;
        font-size: 10px;
    }
}
@media screen and (max-height: 400px){

    .footerGeneral{
        height: 9px;
        font-size: 8px;
    }
}
@media screen and (max-height: 200px){

    .footerGeneral{
        height: 7px;
        font-size: 6px;
    }
}

/*******************************/
/*******Barra Horizontal********/
/*******************************/

.BarraHorizontal{

    background-color: black;
    color: white;

    font-family: Times new roman;
    font-size: 22px;

    display: flex;
    flex-direction: row;

    height: 25px;
    border: white 5px outset;
    padding: 10px;
    margin-top: -10px;
}
.BarraHorizontalContenido, .BarraHorizontalContenido>a{

    color: white;
    font-family: serif;
    text-decoration: none;
    margin: 0 10px;
}
.BarraHorizontalContenido:visited, .BarraHorizontalContenido>a:visited{

    font-family: serif;
    text-decoration: none;
}

.BarraHorizontalContenido.active, .BarraHorizontalContenido.active > a{
    
    color: yellow;
}



.BarraHorizontalContenidoFinal{

    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    margin-left: auto;
}
.BarraHorizontalContenidoFinal:visited{

    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    word-spacing: 5px;
    margin-left:auto;
}
.BarraHorizontalContenidoFinal:hover{

    font-family: serif;
    text-decoration: none;
    border-bottom: yellow 2px inset
}

@media screen and (max-width: 800px) {
    /*Es mejor tener dos y mostrar el que sea necesario*/

}


/*******************************/
/*******Bloques de la barra*****/
/*******************************/

.barraHorizontalDrop {

    display: inline-block;
    position: relative;
    z-index: 2;
}
.barraHorizontalContenidoDrop {

    display: none;
    position: absolute;
    width: 85%;

    background-color: black;
    overflow: auto;
    box-shadow: 5px 5px 5px 0px darkgrey;

    border-top: none;
    border-radius: 0px 0px 10px 10px;
    border-bottom: white 2px double;

    font-size: 14px;
    padding-top: 5px;
    margin-left: 10px;

    z-index: 2;
}
.barraHorizontalDrop:hover
.barraHorizontalContenidoDrop {

    display: block;

}
.barraHorizontalContenidoDrop > a {

    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-left: white 1px dashed;
    border-right: white 2px double;

}
.barraHorizontalContenidoDrop > a:hover {

    border-left: yellow 1px dashed;
    border-right: yellow 2px double;
    color: yellowgreen;
}

/*******************************/
/*******Barra Vertical**********/
/*******************************/