

.bloqueCombate > h3{

    margin-top: 10px;
    text-align: center;
    font-size: 3.5vmin;
}
.infoCombate{

    display: flex;
    flex: 1;
    padding: 10px;
}

.infoCombate div{

    flex: 1;
    margin: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 2vmin;
    
}

.infoCombate div > p{

    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.infoCombate a{

    text-decoration: none;
    text-align: center;
    font-size: 2vmin;
}
.infoCombate div > table {

    font-family: 'Times New Roman';
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
}

.infoCombate div > table th, .infoCombate div > table td {

    text-align: center;
    padding: 8px;
}

.infoCombate div > table th {

    text-align: center;
}
@media screen and (max-width: 850px){

    .infoCombate{

        display: block;
    }
    .bloqueCombate > h3{

        font-size: 5vmin;
    }
    .infoCombate div > table{

        font-size: 4vmin;
    }

    .infoCombate div > table td,  .infoCombate div > table th {

        border: 0.1px solid;
        padding: 2px;
        font-size: 2vmin;
    }
}

