
.bloqueDiseñoPersonaje > h3{

    margin-top: 10px;;
    text-align: center;
    font-size: 3.5vmin;
}

.infoDiseñoPersonaje{

    display: flex;
    flex: 1;
    padding: 10px;
}

.infoDiseñoPersonaje div{

    flex: 1;
    margin: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 2vmin;
}

.infoDiseñoPersonaje div > p{

    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.infoDiseñoPersonaje div > table {

    font-family: 'Times New Roman';
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
}

.infoDiseñoPersonaje div > table th, .infoDiseñoPersonaje div > table td {

    text-align: center;
    padding: 8px;
}

.infoDiseñoPersonaje div > table th {

    text-align: center;
}

@media screen and (max-width: 850px){

    .infoDiseñoPersonaje{

        display: block;
    }
    .bloqueDiseñoPersonaje > h3{

        font-size: 5vmin;
    }
    .infoDiseñoPersonaje div > p:nth-child(2){

        font-size: 2vmin;
    }
    .infoDiseñoPersonaje div > table{

        font-size: 4vmin;
    }

    .infoDiseñoPersonaje div > table td,  .infoDiseñoPersonaje div > table th {

        border: 0.1px solid;
        padding: 2px;
        font-size: 2vmin;
    }
}