
/********Lista precios******/

.ResumenPrecios{

    font-family: 'Times new roman';
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenPrecios  h3{

    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}


.Titulos select, .Titulos button{

    position: relative;
    float: right;
    right: 0px;
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 10px;
    width: auto;
}
.Titulos > button:hover {

    transform: translateY(-0.1em);
}

.Titulos > button:active {

    transform: translateY(0.1em);
}

.ListaPrecios  h3{

    margin-top: 10px;
    text-align: center;
}

.Monedas{

    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Monedas table{

    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

.Monedas td, th{
    
    padding: 0px 10px;
}


@media screen and (max-width: 600px){

    .Monedas td, th
    {
        padding: 0px 0px;
    }
}
@media screen and (max-width: 400px)
{
    .Titulos  button , select{

        display: none;
    }
}

.ListaPreciosTipo {

    max-width: 1000px;
    columns: 3;
    text-align: center;
    margin: 25px auto;
    margin-bottom: 30px;
    column-rule-color: brown;
    column-rule-width: 2px;
    column-rule-style: dashed;
}

.ListaPreciosTipo h4{

    font-size: 20px;
}


.TipoListaPrecio {

    text-align: justify;
    margin-left: 1.2em;
    margin-top: 10px;
}

.TipoListaPrecio h5{
    
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.ListaPrecio {

    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


