
/********Lista precios******/

.ResumenPrecios{

    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenPrecios  h3{

    text-align: center;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 20px;


    font-size: 20px;
}


.Titulos select, .Titulos button{

    position: relative;
    float: right;
    right: 0px;

    margin-left: 5px;
    padding: 3px 5px;

    border-radius: 10px;
    border: black 2px solid;

    color:white;
    background-color: brown;
    width: auto;
}
.Titulos > button:hover {

    background-color: yellowgreen;
    transform: translateY(-0.1em);
}

.Titulos > button:active {

    transform: translateY(0.1em);
}

.ListaPrecios  h3{

    margin-top: 10px;
    color:yellowgreen;
    border: black 4px ridge;
    background: brown;
    text-align: center;
}

.Monedas{

    display: flex;
    overflow-x: auto;

    justify-content: center;
    align-items: center;

    width: 100%;
    color:black;
    align-content: center;

    margin-top: 15px;
    margin-bottom: 15px;
}

.MonedasPrimeraFila {

    background: black;
    color: yellowgreen;
}

.Monedas table{

    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;

    border: 2px black solid;
}

.Monedas td, th{

    border: solid 2px black;
    padding: 0px 10px;
}


@media screen and (max-width: 600px){

    .Monedas td, th
    {
        padding: 0px 0px;
    }
}
@media screen and (max-width: 400px)
{
    .Titulos  button , select{

        display: none;
    }
}

.ListaPreciosTipo {

    border: 5px brown outset;
    box-shadow: 10px 10px black;
    background-color: black;
    color: white;

    max-width: 1000px;

    columns: 3;
    text-align: center;

    margin: 25px auto;

    column-rule-color: brown;
    column-rule-width: 2px;
    column-rule-style: dashed;
}

.ListaPreciosTipo h4{

    color: black;
    background-color: yellow;
    border:brown 2px solid;
    font-size: 20px;
}


.TipoListaPrecio {

    text-align: justify;
    margin-left: 1.2em;
    margin-top: 10px;
}

.TipoListaPrecio h5{
    
    color: yellowgreen;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.ListaPrecio {

    font-size: 15px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}


