/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 oct 2023, 17:41:48
    Author     : Cristian
*/

/*************************/
/**********Todo***********/
/*************************/
*{
    margin:0px;
    padding:0px;
}

h2{
    color:black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    border-bottom: black 2px solid;
}

body{
    background-color: gray;


}
header{
    background-color:black;
    border: white 1px solid;
}

nav{

    background-color: black;
    color: white;
}
main{

    background-color: grey;
    color: white;
    border-top: none;
    width: auto;
    height: auto;
}
section{

    background-color: grey;
    color: black;
    padding: 10px;

}
footer{

    background-color: black;
    color: white;

    margin-top: 10px;

    position: fixed;
    bottom: 0;
    width: 100%;

    margin-top: 2%;
    font-size: 1em;
}

footer > a{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;

}

footer  a:hover{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;
}

/*************************/
/**********Clases*********/
/*************************/

.Logo{

    width: 100%;
    max-height: 5em;
    object-fit: cover;
}

.Titulos{

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;

    border: none;

    margin-left: 20px;
    margin-bottom: 10px;
}

.TitulosFormulario{

    background-color: black;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;

    border: none;
    padding-bottom: 10px;

    border-bottom: brown 4px solid;
    border-radius: 0px 0px 10px 10px;
}
input:invalid + span::after {
  content: "✖";
}

input:valid + span::after {
  content: "✓";
}


/*Barra*/

.BarraHorizontal{

    background-color: black;
    color: white;

    font-family: Times new roman;
    font-size: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 25px;
    border: white 5px outset;
    padding: 10px;
    margin-top: -10px;
}
.BarraHorizontalContenido{

    color: white;
    font-family: serif;
    text-decoration: none;
    margin: 0 10px;
}
.BarraHorizontalContenido:visited{

    color: white;
    font-family: serif;
    text-decoration: none;
}
.BarraHorizontalContenido:hover{

    color: white;
    font-family: serif;
    text-decoration: none;

    border-bottom: yellow 2px inset;

}

.BarraHorizontalContenidoFinal{

    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    margin-left: auto;
}
.BarraHorizontalContenidoFinal:visited{

    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    word-spacing: 5px;
    margin-left:auto;
}
.BarraHorizontalContenidoFinal:hover{

    color: white;
    font-family: serif;
    text-decoration: none;
    border-bottom: yellow 2px inset
}

/*Bloques de la barra*/

.dropdown {

    display: inline-block;
    position: relative;

}
.dropdown > .BarraHorizontalContenido:hover{

    color: white;
    font-family: serif;
    text-decoration: none;
    border:none;
}
.dropdown-content {

    display: none;
    position: absolute;
    width: 85%;

    background-color: black;
    overflow: auto;
    box-shadow: 5px 5px 5px 0px darkgrey;

    border-top: none;
    border-radius: 0px 0px 10px 10px;
    border-bottom: white 2px double;

    font-size: 14px;
    padding-top: 5px;
    margin-left: 10px;
}
.dropdown:hover
.dropdown-content {

    display: block;
}
.dropdown-content > a {

    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-left: white 1px dashed;
    border-right: white 2px double;

}
.dropdown-content > a:hover {

    color: white;
}

/********Inicio********/

.EleccionInicio {

    margin: 30px;
    margin-top: 0px;

    height: 53vh;
    width: 600px;

    background-color: black;
    padding: 20px;

    font-family: Times New Roman;

    border: dimgray 2px solid;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
}
.EleccionInicio > h2{

    color:black;
    background-color:yellow;

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;


    border-radius: 5px;
    border: brown 2px solid;
    box-shadow: 1px 1px 1px 1px brown;

    padding-bottom: 20px;

}

.EleccionInicio > p{

    color:white;
    padding-top: 50px;
    margin-left: 25px;
    font-size: 20px;
}

.botonInicioSesion {

    display: block;
    margin-top: 25px;
    margin-left: 250px;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: brown 2px double;
    border-radius: 5px;
    cursor: pointer;
}
.botonRegistro {

    display: block;
    margin-top: 25px;
    margin-left: 250px;
    padding: 10px 26px;
    background-color: yellow;
    color: black;
    border: brown 2px double;
    border-radius: 5px;
    cursor: pointer;
}
.botonInicioSesion:hover, .botonRegistro:hover {

    background-color: yellowgreen;
}

.FotosInicio {

    margin-top: -500px;
    margin-left: 900px;
}
.FotoInicio1{

    margin-right: 250px;
}
.FotoInicio2{

    margin-left: 200px;
    margin-top: -175px;
}

.TextoInicio {

    border: white 2px solid;

    height: 40vh;

    margin-left: 800px;
    margin-top: -200px;
    margin-right: 100px;

    padding-top: 10px;
    padding-left: 10px;


}

/*******Clases DND******/

.BusquedaClase{

    background-color: yellow;
    color: black;

    font-family: Times new roman;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    width: auto;

    border:yellow 2px solid;
    border-top: none;
    border-bottom: black 3px  ridge;

}
.BusquedaClase > a{

    color: black;
    font-family: Times new roman;
    text-decoration: none;
}
.BusquedaClase >  #A{

    padding-left: 10%
}
.BusquedaClase > #P{

    padding-right:10%
}
.ResumenClases
{
    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenClases > hr{

    color:black;
    margin-bottom: 10px;
}
.ResumenClase{

    border: black 3px solid;

}
.ResumenClase > h5{

    font-family: Times new roman;
    font-size: 20px;
    border-bottom: black 2px solid;

}
.ResumenClase > img{

    border: black 2px solid;
    border-left: none;
}
.ResumenClase > p{

    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}


/*****Razas DND******/

.BusquedaRazas{

    background-color: yellow;
    color: black;

    font-family: Times new roman;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: auto;

    border:yellow 2px solid;
    border-top: none;
    border-bottom: black 3px  ridge;
}
.ResumenRazas{

    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenRazas > input{

    color:black;

    background: url("./img/iconos/lupa.png") no-repeat 0px 5px;
    background-size: 24px;
    background-color:white;

    width: 250px;
    border: solid 1px black;
    padding: 10px 10px 10px 30px;
    margin: 20px;
    outline: none;
}
.ResumenRazas > hr{

    color:black;
    margin-bottom: 10px;
}
.BusquedaRazas > a{

    color: black;
    font-family: Times new roman;
    text-decoration: none;
}
.ResumenRazas > h5{

    font-family: Times new roman;
    font-size: 20px;
    border-bottom: black 2px solid;

}
.ResumenRazas > img{

    border: black 2px solid;
    border-left: none;
}
.ResumenRazas > p{

    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}

/******Inicio y Registro*******/

.headerFormulario{

    color: black;
    border:none;
    float:start;
}
.bloqueInicioSesion{

    margin-top: 10%;
    margin-left: 32.5%;

    width:60vh;
    height:45vh;
    max-height:45vh;
    max-width:60vh;

    background-color: yellow;
    text-align: center;


    font-family: Times New Roman;

    border: dimgray 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(to top,yellow,60%,white);
}

.bloqueRegistro{

    margin-top: 10%;
    margin-left: 32.5%;

    width:60vh;
    height:58vh;
    max-height:58vh;
    max-width:60vh;

    background-color: yellow;
    text-align: center;


    font-family: Times New Roman;

    border: dimgray 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(to top,yellow,60%,white);
}
.bloqueInicioSesion > ul{

    width: 51.5vh;
    height:25vh;
    max-height:25vh;
    max-width:51.5vh;
    margin:30px;
    margin-bottom:10px;

    border-radius: 10px;
    font-size: 18px;
    border: black 5px solid;
    list-style: none;
}
.bloqueRegistro > ul{

    width: 51.5vh;
    height:38vh;
    max-height:38vh;
    max-width:51.5vh;
    margin:30px;
    margin-bottom:10px;

    border-radius: 10px;
    font-size: 18px;
    border: black 5px solid;
    list-style: none;
}
.bloqueInicioSesion > ul > li,.bloqueRegistro > ul > li{

    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

.bloqueInicioSesion > ul > li > p{

    text-align: center;
    margin-top: 60px;
    margin-left: -35px;
}

/******Recuperación Contraseña*******/

.bloqueRecuperar{

    margin-top: 10%;
    margin-left: 32.5%;

    width:60vh;
    height:35vh;
    max-height:35vh;
    max-width:60vh;

    background-color: yellow;
    text-align: center;


    font-family: Times New Roman;

    border: dimgray 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(to top,yellow,60%,white);
}
.bloqueRecuperar > ul{

    width: 51.5vh;
    height:15vh;
    max-height:15vh;
    max-width:51.5vh;
    margin:30px;
    margin-bottom:10px;

    border-radius: 10px;
    font-size: 18px;
    border: black 5px solid;
    list-style: none;
}
.bloqueRecuperar > ul > li{

    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

/*************************/
/***********Id's**********/
/*************************/


#nombreUsuarioIden{
    
    margin-right: 20px;
    border-bottom: black 2px solid;
}
#nameIden{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioIden{
    
    margin-right: 81px;
    border-bottom: black 2px solid;
}
#passwordIden{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioReg{
    
    margin-right: 30px;
    border-bottom: black 2px solid;
}
#nameReg{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#correoUsuarioReg{
    
    margin-right: 34px;
    border-bottom: black 2px solid;
}
#emailReg{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioReg{
    
    margin-right: 91px;
    border-bottom: black 2px solid;
}
#passwordReg{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraconUsuarioReg{
    
    margin-right: 34px;
    border-bottom: black 2px solid;
}
#passwordConfirmReg{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#telefonoUsuarioReg{
    
    margin-right: 19px;
    border-bottom: black 2px solid;
}
#phoneReg{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nacimientoUsuarioReg{
    
    margin-right: 21px;
    border-bottom: black 2px solid;
}
#bornReg{
    
    text-align: right;
    width: 162px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#provinciaUsuarioReg{
    
    margin-right: 71px;
    border-bottom: black 2px solid;
}
#provinceReg{
    
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#generoUsuarioReg{
    
    margin-right: 49px;
    border-bottom: black 2px solid;
}
#genderReg{
    
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#recuperarContrasena,#recuperarUsuario{

    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    
    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;
    
    cursor: pointer;
}
#botonVolverFormulario{
    
    margin-top: 10px;
    font-size: 15px;
    
    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;
    
    cursor: pointer;
}
#botonEnviar{
    
    margin-top: 10px;
    margin-left: 250px;
    font-size: 15px;
    
    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;
    
    cursor: pointer;
}
#recuperarContrasena:hover,#recuperarUsuario:hover,#botonVolverFormulario:hover,#botonEnviar:hover{
    
    color:yellowgreen;
}
#correoUsuarioRC{
    
    margin-right: 20px;
    border-bottom: black 2px solid;
}
#emailRC{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioRC{
    
    margin-right: 25px;
    border-bottom: black 2px solid;
}
#userRC{
    
    color: white;
    background-color:brown;
    border-radius: 5px;
}