/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 oct 2023, 17:41:48
    Author     : Cristian
*/

/*************************/
/**********Todo***********/
/*************************/
*{
    margin:0px;
    padding:0px;
}

h2{
    color:black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    border-bottom: black 2px solid;
}

body{
    background-color: gray;


}
header{
    background-color:black;
    border: white 1px solid;
}

nav{

    background-color: black;
    color: white;
}
main{

    background-color: grey;
    color: white;
    border-top: none;
    width: auto;
    height: auto;
}
section{

    background-color: grey;
    color: black;
    padding: 10px;

}
footer{

    background-color: black;
    color: white;

    position: fixed;
    bottom: 0;

    width: 100%;

    font-size: 1em;
}

footer > a{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;

}

footer  a:hover{

    color: white;
    font-family: Times new roman;
    text-decoration: none;
    padding-right: 10px;
    float:right;
}

/*************************/
/**********Clases*********/
/*************************/

.Logo{

    width: auto;
    max-width: 100%;
    max-height: 5em;

}
.Titulos{

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;

    border: none;

    margin-left: 20px;
    margin-bottom: 10px;
}

input:invalid + span::after {
    content: "✖";
}

input:valid + span::after {
    content: "✓";
}


/*******Barra********/

.BarraHorizontal{

    background-color: black;
    color: white;

    font-family: Times new roman;
    font-size: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 25px;
    border: white 5px outset;
    padding: 10px;
    margin-top: -10px;
}
.BarraHorizontalContenido{

    color: white;
    font-family: serif;
    text-decoration: none;
    margin: 0 10px;
}
.BarraHorizontalContenido:visited{

    color: white;
    font-family: serif;
    text-decoration: none;
}
.BarraHorizontalContenido:hover{

    color: white;
    font-family: serif;
    text-decoration: none;

    border-bottom: yellow 2px inset;

}

.BarraHorizontalContenidoFinal{

    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    margin-left: auto;
}
.BarraHorizontalContenidoFinal:visited{

    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    word-spacing: 5px;
    margin-left:auto;
}
.BarraHorizontalContenidoFinal:hover{

    color: white;
    font-family: serif;
    text-decoration: none;
    border-bottom: yellow 2px inset
}

/*Bloques de la barra*/

.dropdown {

    display: inline-block;
    position: relative;

}
.dropdown > .BarraHorizontalContenido:hover{

    color: white;
    font-family: serif;
    text-decoration: none;
    border:none;
}
.dropdown-content {

    display: none;
    position: absolute;
    width: 85%;

    background-color: black;
    overflow: auto;
    box-shadow: 5px 5px 5px 0px darkgrey;

    border-top: none;
    border-radius: 0px 0px 10px 10px;
    border-bottom: white 2px double;

    font-size: 14px;
    padding-top: 5px;
    margin-left: 10px;
}
.dropdown:hover
.dropdown-content {

    display: block;
}
.dropdown-content > a {

    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-left: white 1px dashed;
    border-right: white 2px double;

}
.dropdown-content > a:hover {

    color: white;
}

/********Inicio********/

.BloqueInicio{

    display: flex;
    flex-direction : row;
}
.EleccionInicio {

    display: block;

    margin: 30px;
    margin-top: 0px;

    height: auto;
    width: 600px;

    background-color: black;
    padding: 20px;
    padding-bottom: 60px;

    font-family: Times New Roman;

    border: dimgray 2px solid;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
}
.EleccionInicio > h2{

    color:black;
    background-color:yellow;

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;


    border-radius: 5px;
    border: brown 2px solid;
    box-shadow: 1px 1px 1px 1px brown;

    padding-bottom: 20px;

}

.EleccionInicio > p{

    color:white;
    padding-top: 50px;
    margin-left: 25px;
    font-size: 20px;
}

.botonInicioSesion {

    margin-top: 25px;
    margin-left: 25px;
    padding: 10px 20px;

    background-color: yellow;
    color: black;
    border: brown 2px double;
    border-radius: 5px;
    cursor: pointer;
}
.botonRegistro {

    margin-top: 25px;
    margin-left: 25px;
    padding: 10px 26px;

    background-color: yellow;
    color: black;
    border: brown 2px double;
    border-radius: 5px;
    cursor: pointer;
}
.botonInicioSesion:hover, .botonRegistro:hover {

    background-color: yellowgreen;
}
.FotosTextoInicio{

    display: flex;
    flex-direction : column;
}
.FotosInicio {

    display: flex;
    flex-direction: row;
}

.FotoInicio1{

    margin-left: 150px;
    position: absolute;

}
.FotoInicio2{

    padding-left: 10px;
    margin-top: -70px;
    margin-left: 350px;
    position: absolute;
}

.TextoInicio {

    border: white 2px solid;

    width: 100%;
    height: 55%;

    margin-left: 100px;
    margin-top: 175px;
    margin-right: 20px;

    padding-top: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 1455px)and (min-width: 1200px) {
    .FotoInicio2 {

        display: none;
    }
}
@media screen and (max-width: 1370px) {
    .TextoInicio {

        width: 75%;
    }
}
@media screen and (max-width: 1200px) {
    .BloqueInicio {

        flex-direction: column;
    }
    .EleccionInicio {

        width: auto;
    }
    .FotoInicio1 {

        margin: 50px;
    }
    .FotoInicio2 {

        margin-left: 250px;
        margin-top: -20px;
    }
    .TextoInicio {

        width: auto;
        height: 120px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 700px) {
    .FotoInicio1 {

        margin-top: 0px;
    }
    .FotoInicio2 {

        display: none;
    }
    .TextoInicio {

        margin-top: 120px;
        margin-bottom: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 500px) {
    .FotoInicio1 {

        display: none;
    }
    .TextoInicio {

        height: 100px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
/************************/
/*********LISTAS*********/
/************************/

/***Barra arriba clases***/

.BusquedaClase{

    background-color: yellow;
    color: black;

    font-family: Times new roman;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    width: auto;

    border:yellow 2px solid;
    border-top: none;
    border-bottom: black 3px  ridge;

}
.BusquedaClase > a{

    color: black;
    font-family: Times new roman;
    text-decoration: none;
}
.BusquedaClase >  #A{

    padding-left: 10%
}
.BusquedaClase > #P{

    padding-right:10%
}

/*******Lista Clases******/

.ListaClases > ul > h4{
    
    color:black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ResumenClases
{
    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenClase > h5{

    background-color: black;
    color:yellow;
    font-family: Times new roman;
    font-size: 20px;
    
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    border: brown 3px solid;

}
.ResumenClase > li{
    
    background-color: black;
    border: brown 3px outset;
    display: flex;

}
.ResumenClase > li > img{

    border: brown 2px solid;
    border-left: none;
}
.ResumenClase > li > p{
    
    margin: 10px;
    font-size: 15px;
}


/*****Razas DND******/

.BusquedaRazas{

    background-color: yellow;
    color: black;

    font-family: Times new roman;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: auto;

    border:yellow 2px solid;
    border-top: none;
    border-bottom: black 3px  ridge;
}
.ResumenRazas{

    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenRazas > input{

    color:black;

    background: url("./img/iconos/lupa.png") no-repeat 0px 5px;
    background-size: 24px;
    background-color:white;

    width: 250px;
    border: solid 1px black;
    padding: 10px 10px 10px 30px;
    margin: 20px;
    outline: none;
}
.ResumenRazas > hr{

    color:black;
    margin-bottom: 10px;
}
.BusquedaRazas > a{

    color: black;
    font-family: Times new roman;
    text-decoration: none;
}
.ResumenRazas > h5{

    font-family: Times new roman;
    font-size: 20px;
    border-bottom: black 2px solid;

}
.ResumenRazas > img{

    border: black 2px solid;
    border-left: none;
}
.ResumenRazas > p{

    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}

/**********************************/
/**********FORMULARIOS*************/
/**********************************/

.footerFormulario{

    color: white;
    background-color: black;

    width: 100%;
    text-align: center;

    position: fixed;
    max-height: 30px;
    bottom: 0;
}

.TitulosFormulario{

    margin-top: -22.5px;
    margin-left: -22.5px;
    margin-right: -22.5px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    background-color: black;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;

    border: brown 2px solid;
    border-bottom: brown 4px solid;
    border-radius: 0px 0px 10px 10px;
}
.contenedorFormulario{

    border-top: black solid 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/**********Inicio***********/

.bloqueInicioSesion {

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 300px;

    padding: 20px;

    background-color: yellow;
    text-align: center;

    font-family: Times New Roman;

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueInicioSesion > form > div{

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    color:black;
}
.bloqueInicioSesion > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueInicioSesion > form > div > div{

    display: block;
    margin-bottom: 10px;
}
.bloqueInicioSesion > form > div > div > p{

    margin-top: 60px;
    margin-bottom: 10px;
}

/*******Registro*******/

.bloqueRegistro{

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 400px;

    padding: 20px;

    background-color: yellow;
    text-align: center;

    font-family: Times New Roman;

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueRegistro > form > div{

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    color:black;
}
.bloqueRegistro > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueRegistro > form > div > div{

    display: block;
    margin-bottom: 10px;
}


/******Recuperación Datos*******/

.bloqueRecuperar{

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 225px;

    padding: 20px;

    background-color: yellow;
    text-align: center;

    font-family: Times New Roman;

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueRecuperar > form > div{

    border: brown 2px solid;
    border-radius: 5px 5px 5px 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 60px;

    color:black;
}
.bloqueRecuperar > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueRecuperar > form > div > div{

    display: block;
    margin-bottom: 10px;
}

/*************************/
/***********Id's**********/
/*************************/


#nombreUsuarioIden{

    margin-right: 20px;
    border-bottom: black 2px solid;
}
#nameIden{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioIden{

    margin-right: 75px;
    border-bottom: black 2px solid;
}
#passwordIden{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioReg{

    margin-right: 30px;
    border-bottom: black 2px solid;
}
#nameReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#correoUsuarioReg{

    margin-right: 34px;
    border-bottom: black 2px solid;
}
#emailReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioReg{

    margin-right: 85px;
    border-bottom: black 2px solid;
}
#passwordReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraconUsuarioReg{

    margin-right: 34px;
    border-bottom: black 2px solid;
}
#passwordConfirmReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#telefonoUsuarioReg{

    margin-left: -16px;
    border-bottom: black 2px solid;
}
#phoneReg{

    margin-left: 20px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nacimientoUsuarioReg{

    margin-left: 2px;
    border-bottom: black 2px solid;
}
#bornReg{

    margin-left: 21px;
    text-align: right;
    width: 162px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#provinciaUsuarioReg{

    margin-left: -15px;
    border-bottom: black 2px solid;
}
#provinceReg{

    margin-left: 66px;
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#generoUsuarioReg{

    margin-left: -15px;
    border-bottom: black 2px solid;
}
#genderReg{
    
    margin-left: 46px;
    margin-bottom: 30px;
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#recuperarContrasena,#recuperarUsuario{

    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#botonVolverFormulario{

    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#botonEnviar{

    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#recuperarContrasena:hover,#recuperarUsuario:hover,#botonVolverFormulario:hover,#botonEnviar:hover{

    color:yellowgreen;
}
#correoUsuarioRC{

    margin-right: 20px;
    border-bottom: black 2px solid;
}
#emailRC{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioRC{

    margin-right: 25px;
    border-bottom: black 2px solid;
}
#userRC{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraseñaRC{

    margin-left:  0px;
    border-bottom: black 2px solid;
}
#passwordRC{

    margin-left: 70px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraseñarpRC{

    margin-left: 0px;
    border-bottom: black 2px solid;
}
#passwordrpRC{

    margin-left: 20px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}


/****************/


