
/********Inicio********/

.BloqueInicio{

    display: flex;
    flex-direction : row;
}
.EleccionInicio {

    display: block;
    margin: 30px;
    margin-top: 0px;
    height: auto;
    width: 80vmin;
    padding: 20px;
    padding-bottom: 60px;
    font-family: Times New Roman;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}
.EleccionInicio > h2{

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.EleccionInicio > p{

    padding-top: 50px;
    margin-left: 25px;
    font-size: 20px;
}

.botonInicioSesion {

    margin-top: 25px;
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.botonRegistro {

    margin-top: 25px;
    margin-left: 25px;
    padding: 10px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.botonInicioSesion:hover, .botonRegistro:hover {

    transform: translateY(-0.1em);
}

.botonInicioSesion:active, .botonRegistro:active{

    transform: translateY(0.1em);
}

.FotosTextoInicio{

    display: flex;
    flex-direction : column;
}
.FotosInicio {

    display: flex;
    flex-direction: row;
}

.FotoInicio1{

    margin-left: 150px;
    position: absolute;

}
.FotoInicio2{

    padding-left: 10px;
    margin-top: -70px;
    margin-left: 350px;
    position: absolute;
}

.TextoInicio {

    text-align: center;
    width: 100%;
    height: 55%;
    margin-left: 100px;
    margin-top: 175px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.TextoInicio p{

    margin-top:30px;
    margin-bottom: 30px;
}
.TextoInicio p:first-child{

    margin-top:10px;
}

.botonIntroducción{

    margin-top: 10px;
    margin-right: 20px;
    padding: 8px 8px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}
@media screen and (max-width: 1455px)and (min-width: 1200px) {
    .FotoInicio2 {

        display: none;
    }
    .TextoInicio {

        width: 75%;
    }
}
@media screen and (max-width: 1370px) {
    .TextoInicio {

        width: 75%;
    }
}
@media screen and (max-width: 1200px) {
    .BloqueInicio {

        flex-direction: column;
    }
    .EleccionInicio {

        width: auto;
    }
    .FotoInicio1 {

        margin: 50px;
    }
    .FotoInicio2 {

        margin-left: 250px;
        margin-top: -20px;
    }
    .TextoInicio {

        width: auto;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 700px) {

    .BloqueInicio h2 , .BloqueInicio p , .EleccionInicio > button{

        font-size: 5vmin;
    }
    .FotoInicio1 {

        margin-top: 0px;
    }
    .FotoInicio2 {

        display: none;
    }
    .TextoInicio {

        font-size: 5vmin;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .TextoInicio  p button{

        font-size: 5vmin;
    }
}
@media screen and (max-width: 500px) {
    .FotoInicio1 {

        display: none;
    }
    .TextoInicio {

        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}