
.bloqueIntroduccion * {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bloqueIntroduccion {

    min-height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    margin-top: -25px;
}

.columnasIntroducion
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-content: space-between;
}

.columnasIntroducion h1 {

    font-size: 3vmin;
    text-align: justify;
}
.columnasIntroducion p {

    line-height: 1.4;
    margin-bottom: 1.5rem;
}
.contenedorAnimacion {

    display: flex;
    flex-wrap: wrap;
    width: 85vmin;
    height: 25em;
    margin: 2rem auto;
    border: 8px solid;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.contenedorFueraAnimacion {

    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    transition: .4s ease-in-out;
    z-index: 1;
}
.contenidoFueraAnimacion {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 15vmin;
    height: 100%;

    padding: .5rem 0 0 .5rem;
    border: 3px solid;

    transition: .3s ease-in-out .2s;

    z-index: auto;
}
.imagenFueraAnimacion {

    position: absolute;

    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;

    background-size: cover;
    transition: .3s ease-in-out;

    z-index: auto;
}

.contenidoDentroAnimacion {

    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    overflow-y: scroll;

}
.contenedorAnimacion:hover .contenedorFueraAnimacion
{
    transform: translateX(-60vmin);
}
.contenedorAnimacion:hover .imagenFueraAnimacion {

    width: 30vmin;
}
.contenedorAnimacion:hover .contenidoFueraAnimacion {

    border: none;
    transition-delay: .2s;
    transform: translateX(60vmin);
}

/**************************************/
/***********Tamaños grandes************/
/**************************************/

@media screen and (min-width: 1600px){
    .contenedorAnimacion{

        width: 100em;
        height: 100em;
    }
    .contenidoDentroAnimacion{

        width: 110vmin;
        font-size: 40px;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-110vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(110vmin);
    }
}
@media screen and (min-width: 2000px){
    .contenedorAnimacion{

        width: 120em;
        height: 100em;
    }
    .contenidoDentroAnimacion{

        width: 80vmin;
        font-size: 40px;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-80vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(85vmin);
    }
}
@media screen and (min-width: 2400px){
    .contenedorAnimacion{

        width: 120em;
        height: 100em;
    }
    .contenidoDentroAnimacion{

        width: 70vmin;
        font-size: 40px;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-70vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(70vmin);
    }
}
@media screen and (min-width: 3100px){
    .contenedorAnimacion{

        width: 120em;
        height: 100em;
    }
    .contenidoDentroAnimacion{

        width: 60vmin;
        font-size: 50px;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-60vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(60vmin);
    }
}
@media screen and (min-width: 4600px){
    .contenedorAnimacion{

        width: 150em;
        height: 150em;
    }
    .contenidoDentroAnimacion{

        width: 50vmin;
        font-size: 50px;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-50vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(50vmin);
    }
}
/**************************************/
/***********Tamaños pequeños***********/
/**************************************/

@media screen and (max-width: 900px){
    .contenedorAnimacion{

        width: 18em;
        height: 15em;
    }
    .contenidoDentroAnimacion{

        width: 55vmin;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-55vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(50vmin);
    }
}

@media screen and (max-width: 550px){
    .contenedorAnimacion{

        width: 15em;
        height: 15em;
    }
    .contenidoDentroAnimacion{

        width: 90vmin;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-90vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(85vmin);
    }

}

@media screen and (max-width: 350px){
    .contenedorAnimacion{

        width: 25em;
        height: 15em;
    }
    .contenidoDentroAnimacion{

        width: 210vmin;
    }
    .contenedorAnimacion:hover .contenedorFueraAnimacion
    {
        transform: translateX(-210vmin);
    }
    .contenedorAnimacion:hover .contenidoFueraAnimacion {

        transform: translateX(200vmin);
    }

}






