.mainMesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.cajaGeneralMesa {

    width: 95%;
    padding: 20px 10px 10px 10px;
    margin-bottom: 30px;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
}

/******IZQUIERDA*******/

.contedorDescriptor {
    display: flex;
    align-items: center;
}

.imagenDescriptor {/*Funciona*/
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;

    background-color: gray;

    height: 200px;
    overflow: hidden;
    margin-right: 10px;
    border: 2px solid black; /* Agregar borde de 2px de grosor y color negro */
}
.imagenDescriptor img{/*Funciona*/
    width: 100%; /* La imagen ocupará todo el espacio disponible del contenedor */
    height: auto;
}

.descripcionDescriptor{
    background-color: gray;

    font-size: 12px;
    min-height: 200px;
    min-width: 600px;
    border: 2px solid black; /* Agregar borde de 2px de grosor y color negro */
}

.contenedorChat {/*Funciona*/
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contenedorMensajesChat {/*Funciona*/
    background-color: gray;
    min-height: 440px; /* Altura mínima del contenedor */
    max-height: 440px; /* Altura mínima del contenedor */
    max-width: 900px;
    padding: 10px; /* Agregar un relleno interno para separar el contenido del borde */
    border: 1px solid black; /* Borde del contenedor */
    margin-bottom: 10px; /* Margen inferior para separar el contenedor del siguiente elemento */
    overflow-y: auto; /* Para agregar desplazamiento vertical si el contenido es demasiado largo */
}


.contenedorBotonesChat {
    background-color: gray;
    padding: 10px;
}

#mensajeChatMesa {
    margin-right: 10px;
    width: 75%;
    background: #333;
    margin-left: 10px;
    color: black;
}

/******DERECHA******/

#descripcion {
    display: block;
    margin-top: 10px;
    resize: none;
    width: 73vmin;
    height: 10em;
}
#imagen{
    margin: 1px;
    font-size: 10px;
    width: 73vmin;
}


.derechaChatMesaChatMesa {
}

.contenedorAudioChatMesa {
    color: black;
    background-color: gray;
    margin-bottom: 20px;
    border: 2px solid black; /* Agregar borde de 2px de grosor y color negro */
    padding: 10px;
}
.contenedorAudioChatMesa p{
    margin-left: 20px;
}
.botonesAudio {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.listaChatMesa {
    margin-top: 25%;
    margin-bottom: 70%;
    overflow-y: auto; /* Para agregar desplazamiento vertical si el contenido es demasiado largo */
    background-color: gray;
    color: black;
}

.listaChatMesa table {
    width: 100%;
    border-collapse: collapse;
}

.listaChatMesa table, .listaChatMesa td, .listaChatMesa th {
    border: 1px solid black;
}

.listaChatMesa th {
    background-color: #f2f2f2;
    padding: 8px;
}

.listaChatMesa td {
    padding: 8px;
}
.contenedorBotonesMesaChat{
    padding: 10px;
    background-color: gray;
}

/******************************/
/**********Seguridad***********/
/******************************/

.opcionRecuadro {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contenidoRecuadro {

    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 75vmin;
    height: auto;
    z-index: 2;
}

.tituloRecuadro{

    font-size: 2.5vmin;
    padding-left: 1vmin;
    padding-top: 0.5vmin;
    transition: color 0.3s;
}

.cierreRecuadro {

    font-size: 2vmin;
    padding-top: 0.5vmin;
    margin-right: 2vmin;
    float: right;
    cursor: pointer;
    transition: color 0.3s;
}

.contenidoRecuadro > hr {

    border:none;
    width: 75vmin;
    height: 0.5vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}