

/*****************************/
/**********Usuarios***********/
/*****************************/

.datosMesa {

    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2vmin;
    width: 100px;
    overflow-y: auto;
}

.datosMesa table{

    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}
.datosMesa table tr{

    width: 100%;
}
.datosMesa table td{

    text-align: center;
    padding: 3px;
    width: 25%;
    font-size: 18px;

}
.botonUsuarios{
    
    padding: 2px 2px;
    border-radius: 5px;
}

.botonUsuarios:hover {

    transform: translateY(-0.1em);
}

.botonUsuarios:active {

    transform: translateY(0.1em);
}