/*******************************/
/*************Fotos*************/
/*******************************/

.mesa-foto {

    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.mesa-foto img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (max-width: 800px){
    .mesa-foto {

        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 500px){
    .mesa-foto {

        width: 50px;
        height: 50px;
    }
}
.buscadorMesa button {

    margin-right: 50px;
    
    padding: 5px 5px;
    border-radius: 10px;
    border: brown 2px solid;
    background-color: yellow;
    width: 75%;
}

@media screen and (max-width: 800px){

    .buscadorUsuarios > button{
        font-size: 15px;
        width: 25%
    }
}

@media screen and (max-width: 600px){

    .buscadorMesa > button{
        font-size: 12px;
        width: 25%
    }
}



