
.buscadorMesa button {

    margin-right: 50px;
    
    padding: 5px 5px;
    border-radius: 10px;
    border: brown 2px solid;
    background-color: yellow;
    width: 75%;
}

@media screen and (max-width: 800px){

    .buscadorUsuarios > button{
        font-size: 15px;
        width: 25%
    }
}

@media screen and (max-width: 600px){

    .buscadorMesa > button{
        font-size: 12px;
        width: 25%
    }
}



