/*******************************/
/*************Fotos*************/
/*******************************/

.mesa-foto {

    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.mesa-foto img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (max-width: 800px){
    .mesa-foto {

        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 500px){
    .mesa-foto {

        width: 60px;
        height: 60px;
    }
}

.buscadorMesa button {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;
    border-radius: 10px;
    width: 10%;
}

#botonLleno.estalleno  {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;
    border-radius: 10px;
    width: 10%;
    transform: translateY(0.1em);
}
#botonLleno.estalleno:hover {
    
    transform: translateY(0.1em);
}

#botonLleno.estalleno:active {
    
    transform: translateY(-0.1em);
}

#botonLleno.noestalleno:hover {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;
    border-radius: 10px;
    border: brown 2px solid;
    width: 10%;
}

#botonLleno.noestalleno:hover {

    transform: translateY(-0.1em);
}

#botonLleno.noestalleno:active {
    
    transform: translateY(0.1em);
}

@media screen and (max-width: 800px){

    .buscadorMesa > button{
        font-size: 15px;
        width: 25%
    }
}

@media screen and (max-width: 600px){

    .buscadorMesa > button{
        font-size: 12px;
        width: 25%
    }
}



