
input[type="button"]:hover {

    color: yellowgreen;
    transform: translateY(-0.1em);
}

input[type="button"]:active {

    color: yellowgreen;
    transform: translateY(0.1em);
}

.footerFormulario{

    color: white;
    background-color: black;

    width: 100%;
    text-align: center;

    position: fixed;
    max-height: 30px;
    bottom: 0;
}
@media screen and (max-height: 700px){

    .footerFormulario{
        height: 13px;
        font-size: 12px;
    }
}
@media screen and (max-height: 600px){

    .footerFormulario{
        height: 11px;
        font-size: 10px;
    }
}
@media screen and (max-height: 400px){

    .footerFormulario{
        height: 9px;
        font-size: 8px;
    }
}
@media screen and (max-height: 200px){

    .footerFormulario{
        height: 7px;
        font-size: 6px;
    }
}

.TitulosFormulario{

    margin-top: -22.5px;
    margin-left: -22.5px;
    margin-right: -22.5px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    background-color: black;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;

    border: brown 2px solid;
    border-bottom: brown 4px solid;
    border-radius: 0px 0px 10px 10px;
}
.contenedorFormulario{

    border-top: black solid 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/*************************/
/***********Id's**********/
/*************************/


#nombreUsuarioIden{

    margin-right: 20px;
    border-bottom: black 2px solid;
}
#nameIden{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioIden{

    margin-right: 75px;
    border-bottom: black 2px solid;
}
#passwordIden{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioReg{

    margin-right: 30px;
    border-bottom: black 2px solid;
}
#nameReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#correoUsuarioReg{

    margin-right: 34px;
    border-bottom: black 2px solid;
}
#emailReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraUsuarioReg{

    margin-right: 85px;
    border-bottom: black 2px solid;
}
#passwordReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraconUsuarioReg{

    margin-right: 34px;
    border-bottom: black 2px solid;
}
#passwordConfirmReg{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#telefonoUsuarioReg{

    margin-left: -16px;
    border-bottom: black 2px solid;
}
#phoneReg{

    margin-left: 20px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nacimientoUsuarioReg{

    margin-left: 2px;
    border-bottom: black 2px solid;
}
#bornReg{

    margin-left: 21px;
    text-align: right;
    width: 162px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#provinciaUsuarioReg{

    margin-left: -15px;
    border-bottom: black 2px solid;
}
#provinceReg{

    margin-left: 66px;
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#generoUsuarioReg{

    margin-left: -15px;
    border-bottom: black 2px solid;
}
#genderReg{

    margin-left: 46px;
    margin-bottom: 30px;
    width: 165px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#recuperarContrasena,#recuperarUsuario{

    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#botonVolverFormulario{

    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#botonEnviar{

    font-size: 15px;

    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px brown;

    cursor: pointer;
}
#recuperarContrasena:hover,#recuperarUsuario:hover,#botonVolverFormulario:hover,#botonEnviar:hover{

    color:yellowgreen;
}
#correoUsuarioRC{

    margin-right: 20px;
    border-bottom: black 2px solid;
}
#emailRC{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#nombreUsuarioRC{

    margin-right: 25px;
    border-bottom: black 2px solid;
}
#userRC{

    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraseñaRC{

    margin-left:  0px;
    border-bottom: black 2px solid;
}
#passwordRC{

    margin-left: 70px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
#contraseñarpRC{

    margin-left: 0px;
    border-bottom: black 2px solid;
}
#passwordrpRC{

    margin-left: 20px;
    color: white;
    background-color:brown;
    border-radius: 5px;
}
