/*******Registro*******/

.bloqueRegistroMesa{

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 250px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 5px 5px 5px 5px;
}
.bloqueRegistroMesa > form > div{

    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bloqueRegistroMesa > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueRegistroMesa > form > div > div {

    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.bloqueRegistroMesa label{

    margin-left: 10px;
    font-size: 15px;
}
.bloqueRegistroMesa input{

    width: 150px;
    border-radius: 5px;
}
.bloqueRegistroMesa select{
    
    width: 155px;
    border-radius: 5px;
}



/*************************/
/***********Id's**********/
/*************************/

#tittleMesa{
    margin-left: 140px;
}

#passwordMesa{
    margin-left: 110px;
}
#numUsuarios{
    margin-left: 118px;
}
#comunityMesa{
    margin-left: 108px;
}
#desMesa{
    
    margin-left: 116px;
    resize: none;
    height: 100px;
    width: 260px;
    border-radius: 5px;
}
#tittleMesaMod{
    margin-left: 140px;
}

#passwordMesaMod{
    margin-left: 110px;
}
#numUsuariosMod{
    margin-left: 118px;
}
#comunityMesaMod{
    margin-left: 108px;
}
#desMesaMod{
    
    margin-left: 116px;
    resize: none;
    height: 100px;
    width: 260px;
    border-radius: 5px;
}

@media screen and (max-width: 515px){

    #tittleMesa{
        margin-left: 125px;
    }

    #passwordMesa{
        margin-left: 95px;
    }
    #numUsuarios{
        margin-left: 103px;
    }
    #comunityMesa{
        margin-left: 93px;
    }
    #desMesa{
        margin-left: 101px;
        height: 80px;
        width: 240px;
    }
    #tittleMesaMod{
        margin-left: 125px;
    }
    #passwordMesaMod{
        margin-left: 95px;
    }
    #numUsuariosMod{
        margin-left: 103px;
    }
    #comunityMesaMod{
        margin-left: 93px;
    }
    #desMesaMod{
        margin-left: 101px;
        height: 80px;
        width: 240px;
    }

}

@media screen and (max-width: 450px){
    .bloqueRegistroMesa input{
        width: 100px;
        height: 20px;
        font-size: 10px;
    }
    .bloqueRegistroMesa select{
        width: 85px;
        height: 20px;
        font-size: 10px;
    }
    .bloqueRegistroMesa label{
        font-size: 8px;
        border-bottom: black 2px solid;
    }
    #tittleMesa{
        margin-left: 90px;
    }
    #passwordMesa{
        margin-left: 75px;
    }
    #numUsuarios{
        margin-left: 78px;
    }
    #comunityMesa{
        margin-left: 75px;
    }
    #desMesa{
        margin-left: 77px;
        height: 60px;
        width: 160px;
    }
    #tittleMesaMod{
        margin-left: 90px;
    }
    #passwordMesaMod{
        margin-left: 75px;
    }
    #numUsuariosMod{
        margin-left: 78px;
    }
    #comunityMesaMod{
        margin-left: 75px;
    }
    #desMesaMod{
        margin-left: 77px;
        height: 60px;
        width: 160px;
    }
}

@media screen and (max-width: 350px){
    .bloqueRegistroMesa input{
        width: 100px;
        height: 20px;
        font-size: 10px;
    }
    .bloqueRegistroMesa select{
        width: 85px;
        height: 20px;
        font-size: 10px;
    }
    .bloqueRegistroMesa label{
        font-size: 8px;
        border-bottom: black 2px solid;
    }
    #tittleMesa{
        margin-left: 41px;
    }
    #passwordMesa{
        margin-left: 25px;
    }
    #numUsuarios{
        margin-left: 30px;
    }
    #comunityMesa{
        margin-left: 37px;
    }
    #desMesa{
        margin-left: 80px;
        height: 60px;
        width: 100px;
    }
    #tittleMesaMod{
        margin-left: 38px;
    }
    #passwordMesaMod{
        margin-left: 25px;
    }
    #numUsuariosMod{
        margin-left: 42px;
    }
    #comunityMesaMod{
        margin-left: 37px;
    }
    #desMesaMod{
        margin-left: 40px;
        height: 60px;
        width: 100px;
    }
}