
/**********Inicio***********/

.bloqueInicioSesion {

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 300px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 5px 5px 5px 5px;
}
.bloqueInicioSesion > form > div{

    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bloqueInicioSesion > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueInicioSesion > form > div > div{

    display: block;
    margin-bottom: 10px;
}
.bloqueInicioSesion > form > div > div > p{

    margin-top: 30px;
    margin-bottom: 10px;
}

/*************************/
/***********Id's**********/
/*************************/

#nombreUsuarioIden{

    margin-right: 20px;
}
#nameIden{
    
    border-radius: 5px;
}
#contraUsuarioIden{

    margin-right: 75px;
}
#passwordIden{

    border-radius: 5px;
}
