
/******Recuperación Datos*******/

.bloqueRecuperar{

    max-width: 80%;
    width: 400px;
    height: 30%;
    min-height: 225px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 5px 5px 5px 5px;
}
.bloqueRecuperar > form > div{

    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.bloqueRecuperar > form >
.contenedorBotonFormulario{

    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.bloqueRecuperar > form > div > div{

    display: block;
    margin-bottom: 10px;
}

/*************************/
/***********Id's**********/
/*************************/

#correoUsuarioRC{

    margin-right: 20px;
}
#emailRC{

    border-radius: 5px;
}
#nombreUsuarioRC{

    margin-right: 25px;
}
#userRC{

    border-radius: 5px;
}
#contraseñaRC{

    margin-left:  0px;
}
#passwordRC{

    margin-left: 70px;
    border-radius: 5px;
}
#contraseñarpRC{

    margin-left: 0px;
}
#passwordrpRC{

    margin-left: 20px;
    border-radius: 5px;
}