
.contenedoresPeticiones{

    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********Barra arriba Equipo************/

.contenedorPeticiones{

    border: 2px solid brown;
    border-radius: 5px;
    background: black;

    margin: 10px;
    margin-bottom: 20px;
    margin-top: 25px;

    padding: 10px;

    width: 95%;
    box-sizing: border-box;

}

.tituloBuscadorPeticiones {

    color:yellow;
    margin-left: 10px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

.buscadorPeticiones {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;

}
.buscadorPeticiones input{

    background-color: brown;
    color:white;
}

.buscadorPeticiones select {

    border: brown 2px solid;
    color:white;
    background-color: #333333;
    width: 68%;
    margin-bottom: 10px;
}

.buscadorPeticiones button {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;

    border-radius: 10px;
    border: brown 2px solid;

    background-color: yellow;
    width: 10%;
}

.buscadorPeticiones > button:hover {

    background-color: yellowgreen;
    transform: translateY(-0.1em);
}

.buscadorPeticiones > button:active {

    transform: translateY(0.1em);
}

#botonMesa.existeMesa  {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;

    border-radius: 10px;
    border: brown 2px solid;

    background-color: yellowgreen;
    width: 10%;
    transform: translateY(0.1em);
}
#botonMesa.existeMesa:hover {
    background-color: yellowgreen;
    transform: translateY(0.1em);
}

#botonMesa.existeMesa:active {
    transform: translateY(-0.1em);
}

#botonMesa.noExisteMesa:hover {

    margin-bottom: 10px;
    margin-right:  10px;
    padding: 5px 5px;

    border-radius: 10px;
    border: brown 2px solid;

    background-color: yellow;
    width: 10%;
}

#botonMesa.noExisteMesa:hover {
    background-color: yellowgreen;
    transform: translateY(-0.1em);
}

#botonMesa.noExisteMesa:active {
    transform: translateY(0.1em);
}

@media screen and (max-width: 800px){

    .buscadorPeticiones > button{
        font-size: 15px;
        width: 25%
    }
}

@media screen and (max-width: 600px){

    .buscadorPeticiones > button{
        font-size: 12px;
        width: 25%
    }
}

/**********Lista Equipo************/

.listasPeticiones{


    border: 2px solid brown;
    border-radius: 5px;
    background: black;

    margin-bottom: 30px;
    margin-top: 20px;

    padding: 10px;

    min-height: 250px;
    width: 95%;
    box-sizing: border-box;
}
.listaPeticion h3{

    color:white;
    background: black;

    height: 10px;
    font-size: 20px;

    border: 0px;

    margin: -10px -10px 5px -10px;

    padding:5px;
    padding-bottom: 20px;
}
.listaPeticion h4{

    color:yellow;

    height: 5px;
    font-size: 16px;

    border-top: 2px white solid;
    border-bottom: 2px white solid;

    margin: 0px -10px 0px -10px;

    padding:5px;
    padding-left: 10px;
    padding-bottom: 20px;

}

/******Tabla****/

.diseñoTabla{

    margin: 2px -10px -10px -10px;
    overflow-y: auto;

    height: 1000px;
    max-height: 1000px;
}

.diseñoTabla table{

    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;

    width: 100%;
    min-width: 100%;


}
.diseñoTabla table tr{

    border: 2px brown solid;
    width: 100%;
}
.diseñoTabla table td{

    text-align: center;
    padding: 3px;
    color: white;
    width: 100%;
    
    font-size: 18px;

}
.diseñoTabla table tr:nth-child(odd) {

    background-color: black;
}

.diseñoTabla table tr:nth-child(even) {

    background-color: #333333;
}
@media screen and (max-width: 700px){
    .diseñoTabla table td {

        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .diseñoTabla table td{

        font-size: 12px;
    }
}
/*****Fotos******/

.personaje-foto {

    width: 125px;
    height: 125px;
    background-color: black;
    border: 4px solid brown;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.personaje-foto img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (max-width: 800px){
    .personaje-foto {

        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 500px){
    .personaje-foto {

        width: 60px;
        height: 60px;
    }
}

/*****Botones*****/

.contenedorBotonesPeticiones{

    border: 2px solid brown;
    border-radius: 5px;
    background: black;

    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;

    min-width: 20%;
    height: auto;

    box-sizing: border-box;
}


.pestañasBotones{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.botonArriba{

    font-size: 10px;
    display: block;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: yellow;
    color: brown;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.pestañasBotones > button:hover {

    transform: translateY(-0.33em);
}

.pestañasBotones > button:active {

    transform: translateY(0);
}

