
h2{
    color:black;
    border-bottom: black 2px solid;
}

body{
    background-color: #e3f7f6;
}
header{

    background-color:white;
    border: white 1px solid;
}

nav{

    background-color: #00cccc;
    color: black;
}
main{

    background-color: #e3f7f6;
    color: white;
}
section{
    background-color: grey;
    color: black;
}
hr{
    color:black;
}

footer{

    background-color: #00cccc;
    color: black;
}

/***************************************************************************************************/
/***********************************************TITULOS*********************************************/
/***************************************************************************************************/

.Titulos{

    color: black;
}
.explicacionesPestañas{

    color:black;
    background-color: white;
}
.Titulos select, .Titulos button{

    color:black;
    background-color: #0087b5;
}
.Titulos > button:hover {

    background-color: yellow;
}

/***************************************************************************************************/
/*********************************************RECUADROS*********************************************/
/***************************************************************************************************/

.opcionRecuadro {

    background-color: rgba(0, 0, 0, 0.5);
}

.contenidoRecuadro {

    border: 0.8vmin  #1f6161 ridge;
    background-color: #00cccc;
    color: black;
}

.tituloRecuadro{

    color: yellow;
}

.cierreRecuadro {

    color: yellow;
}
.cierreRecuadro:hover {

    color: yellowgreen;
}
.contenidoRecuadro > hr {

    background: yellow;
}

/***************************************************************************************************/
/*******************************************NAVEGACION**********************************************/
/***************************************************************************************************/


.barraHorizontal{

    background-color: #00cccc;
    color: black;
    border: black 5px outset;
}

/*******************************/
/*******Barra Horizontal********/
/*******************************/

.barraHorizontalContenido, .barraHorizontalContenido>a{

    color: black;
}

.barraHorizontalContenido:hover{

    border-bottom: yellow 2px inset
}

.barraHorizontalContenido.active, .barraHorizontalContenido.active > a{

    color: yellow;
}

.BarraHorizontalContenidoFinal{
    color: black;
}

.BarraHorizontalContenidoFinal:hover{

    border-bottom: yellow 2px inset
}


/*******************************/
/*******Bloques de la barra*****/
/*******************************/

.barraHorizontalContenidoDrop {

    background-color: #00cccc;
    box-shadow: 5px 5px 5px 0px darkgrey;
}

.barraHorizontalContenidoDrop > a {

    color: black;
}

.barraHorizontalContenidoDrop > a:hover {

    color: yellow;
}
.barraHorizontalContenidoDrop > a:hover {

    border-left: black 1px dashed;
    border-right: black 2px double;
}


/*******************************/
/*******Barra Vertical**********/
/*******************************/

.menuVertical{

    background-color: #1f6161;
}

.barraVertical{

    background-color: #00cccc;
}

.barraVerticalUno li a,
.barraVerticalUno li div{
    color: black;
}

.barraVerticalUno li > div > a:hover {

    border-bottom: yellow 2px solid;

}

/*******************************/
/*******Lista Sobre Lista*******/
/*******************************/

.barraVerticalDos  li{

    color:white;
}
.barraVerticalDos  li  a:hover{

    color: yellowgreen;
}
.barraVerticalContenido.active, .barraVerticalContenido.active > a{

    color: yellow;
}

/**************************************/
/*******Boton abrir Menu Vertical******/
/**************************************/

.botonMenuVertical{

    color: black;
    background-color: yellow;

}

/**************************************/
/***********Tener peticion*************/
/**************************************/

.barraHorizontalContenido.tienesPeticion, barraHorizontalContenido.tienesPeticion > a{

    color: #990099;
}
.barraHorizontalContenidoDrop > a.tienesPeticion{

    color: #990099;
}

/***************************************************************************************************/
/***********************************************INICIO**********************************************/
/***************************************************************************************************/

.EleccionInicio {

    background-color: #1f6161;
    border: black 2px solid;
    box-shadow: 5px 5px 5px 5px black;
}
.EleccionInicio > h2{

    color:black;
    background-color:yellow;
    border: black 2px solid;
    box-shadow: 1px 1px 1px 1px black;
}

.EleccionInicio > p{

    color:white;
}

.botonInicioSesion {

    background-color: yellow;
    color: black;
    border: black 2px double;

}
.botonRegistro {

    background-color: yellow;
    color: black;
    border: black 2px double;
}
.botonInicioSesion:hover, .botonRegistro:hover {

    background-color: yellowgreen;
}

.TextoInicio {

    background: #1f6161;
    border: black 2px solid;
    box-shadow: 5px 5px 5px 5px black;
}

.botonIntroducción{

    background-color: yellow;
    color: black;
    border: black 2px double;
}

/***************************************************************************************************/
/***********************************************INTRODUCCION****************************************/
/***************************************************************************************************/


.bloqueIntroduccion {

    background-color: #e3f7f6;
    margin-top: -25px;
}
.columnasIntroducion h1 {

    color:yellow;
}
.columnasIntroducion p {

    color: white;
}
.contenedorAnimacion {


    border-image: linear-gradient(-25deg, #1f6161, yellow,
        yellowgreen, #1f6161, yellowgreen, yellow, #440501) 1;
}
.contenedorFueraAnimacion {

    background: #005858;

}
.contenidoFueraAnimacion {

    border-image:
        linear-gradient(
        to bottom,
        yellow 5%,
        yellowgreen 35% 65%,
        yellow 95%
        ) 0 0 0 100%;
}
.contenidoDentroAnimacion {

    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    background: #007170;

}

/***************************************************************************************************/
/*****************************************EXPLORAR:CLASES*******************************************/
/***************************************************************************************************/

.BusquedaClase{

    background-color: yellow;
    color: black;
    border:yellow 2px solid;
    border-bottom: black 3px  ridge;

}
.BusquedaClase > a{

    color: black;

}
/**************************************/
/***************Lista Clases***********/
/**************************************/


.ResumenClase > h5 {

    background-color: #1f6161;
    border: black 4px ridge;

}

.ResumenClase > h5 > a{

    color:yellow;
}

.ResumenClase > li{

    background-color: #00aaaa;
    border: black 3px outset;

}
.ResumenClase > li > img{

    border: black 2px solid;
}
/***************************************************************************************************/
/*****************************************EXPLORAR:DOTES********************************************/
/***************************************************************************************************/

.BusquedaDote{

    background-color: yellow;
    color: black;
    border: yellow 2px solid;
    border-bottom: black 3px ridge;

}
.BusquedaDote > a{

    color: black;
}

/**************************************/
/**************Lista Dotes*************/
/**************************************/

.ListaDotes h4{

    background-color: #1f6161;
    color:yellow;
    border: black 4px ridge;
}
.tituloDote{

    background-color: #00aaaa;
    border: black 3px solid;
    color:yellowgreen;
}
.ResumenDote ul{

    color: black;
}
.ContenidoDote{

    background-color: white;
    color: black;
}
.RequisitoDote{

    color:Blue;
}
.ResumenDote:hover h5{

    color:yellow;
}

/***************************************************************************************************/
/******************************EXPLORAR:EQUIPO/HECHIZOS/MONSTRUOS***********************************/
/***************************************************************************************************/

/****************************************/
/*********Barra arriba Explorar**********/
/****************************************/

.contenedorExplorarListas {

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorExplorador {

    color:yellow;
}

.tituloBuscadorExplorador button{

    color:black;
    background-color: #0087b5;
}

.tituloBuscadorExplorador > button:hover {

    background-color: yellow;
}

.buscadorExplorar select {

    border: yellow 2px solid;
    color:black;
    background-color: #e3f7f6;
}

.buscadorExplorar button {

    border: black 2px solid;
    background-color: yellow;
}

.buscadorExplorar > button:hover {

    background-color: yellowgreen;
}


/****************************************/
/*************Lista Explorar*************/
/****************************************/

.listasExplorador{

    border: 2px solid black;
    background: #1f6161;
}

.ListaEquipo h3{

    color:white;
    background: #1f6161;
}

.ListaEquipo h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
.ListaEquipo h5{

    color:yellow;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
/**************************************/
/*****************Equipo***************/
/**************************************/

.arribaDatosEquipo{
    color: black;
}
.caracteristicasEquipo h3{
    color: yellow;
}
.datosIzquierdaArribaEquipo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoEquipo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalEquipo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalEquipo h3{
    color: yellow;
}
.datosDerechaTrasfondo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosDerechaTrasfondo h3{
    color: yellow;
}
.diseñoTablaHechizos table tr{
    border: 2px black solid;
}
.diseñoTablaHechizos table td{
    color: black;
}
/**************************************/
/***************Hechizo****************/
/**************************************/
.diseñoTablaHechizos table tr:nth-child(4n-2){
    background-color: #00cccc;
}
.diseñoTablaHechizos table tr:nth-child(4n-1) {
    background-color: #00cccc;
}
.diseñoTablaHechizos table tr:nth-child(4n-3) {
    background-color: #00aaaa;
}
.diseñoTablaHechizos table tr:nth-child(4n) {
    background-color: #00aaaa;
}
.tablaHechizosTR td:hover{
    color: yellowgreen;
}

.arribaDatosHechizo{
    color: black;
}
.caracteristicasHechizo h3{
    color: yellow;
}
.datosIzquierdaArribaHechizo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoHechizo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoHechizo h3{
    color: yellow;
}
.datosIzquierdaAbajoFinalHechizo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalHechizo h3{
    color: yellow;
}
.datosDerechaHechizo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosDerechaHechizo h3{
    color: yellow;
}
/**************************************/
/***************Monstruos**************/
/**************************************/

.arribaDatosMonstruo{
    color: black;
}
.caracteristicasMonstruo h3{
    color: yellow;
}
.datosIzquierdaArribaMonstruo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaArribaMonstruo h3{
    color: yellow;
}
.datosIzquierdaAbajoMonstruo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoMonstruo h3{
    color: yellow;
}
.datosIzquierdaAbajoFinalMonstruo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalMonstruo h3{
    color: yellow;
}
.datosDerechaMonstruo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosDerechaMonstruo h3{
    color: yellow;
}

/**************************************/
/*****************IDS******************/
/**************************************/
#Actual{

    background: yellowgreen;
}

/******************************************************************************************************/
/*****************************************EXPLORAR:TRASFONDOS******************************************/
/******************************************************************************************************/

/**************************************/
/*******Barra arriba Trasfondos********/
/**************************************/

.BusquedaTrasfondos{

    background-color: yellow;
    color: black;
    border:yellow 2px solid;
    border-bottom: black 3px  ridge;

}
.BusquedaTrasfondos > a{

    color: black;
}

/**************************************/
/***********Lista Trasfondos***********/
/**************************************/

.ResumenTrasfondo{

    border: #00cccc 3px outset;
}
.NombreTrasfondo{

    color:black;
    border: #00cccc 2px solid;
    border-right: #00cccc 5px solid;
    background: linear-gradient(#1f6161,60%,#e3f7f6);
}
.NombreTrasfondo a:link {

    text-decoration: none;
    color:black;
}
.NombreTrasfondo a:visited {

    text-decoration: none;
    color:black;
}
.TextoTrasfondo{

    color:black;
    background-color: #c3ffe2;
}

.TextoTrasfondo a:link {

    text-decoration: none;
    color:black;
}
.TextoTrasfondo a:visited {

    text-decoration: none;
    color:black;
}
.TextoTrasfondo a:hover{

    color:yellowgreen;
}

/**************************************/
/***************Trasfondos*************/
/**************************************/

.arribaDatosTrasfondo{
    color: black;
}
.caracteristicasTrasfondo h3{
    color: yellow;
}
.datosIzquierdaArribaTrasfondo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoTrasfondo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalTrasfondo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosIzquierdaAbajoFinalTrasfondo h3{
    color: yellow;
}
.datosDerechaTrasfondo{
    border: #003333 5px solid;
    background-color: #00aaaa;
}
.datosDerechaTrasfondo h3{
    color: yellow;
}

/***************************************************************************************************/
/*****************************************EXPLORAR:ESTADOS******************************************/
/***************************************************************************************************/

/**************************************/
/*******Barra arriba Estados***********/
/**************************************/

.BusquedaEstados{

    background-color: yellow;
    color: black;
    border:yellow 2px solid;
    border-bottom: black 3px  ridge;

}
.BusquedaEstados > a{

    color: black;
}

/**************************************/
/***********Lista Estados**************/
/**************************************/

.ResumenEstado{

    border: #00cccc 3px outset;
}
.NombreEstado{

    color:black;
    border: #00cccc 2px solid;
    border-right: #00cccc 5px solid;
    background: linear-gradient(#1f6161,60%,#e3f7f6);
}
.TextoEstado{

    color:black;
    background-color: #c3ffe2;
}


/***************************************************************************************************/
/*****************************************EXPLORAR:RAZAS********************************************/
/***************************************************************************************************/

/**************************************/
/**********Barra arriba Razas**********/
/**************************************/

.BusquedaRazas{

    background-color: yellow;
    color: black;
    border:yellow 2px solid;
    border-bottom: black 3px  ridge;
}
.BusquedaRazas > a{

    color: black;
}
/**************************************/
/***************Lista Razas************/
/**************************************/

.ResumenRazas > h3{

    color: black;
    border: #1f6161 5px outset;
    background: #1f6161;
}
.ResumenRazas > h3 > input{

    color:black;
    background-color:white;
    border: solid 1px black;
}
.ResumenRazas > hr{

    color:black;
}
.ListaRazas > h3{

    color:yellow;
    background: #00aaaa;
    border: solid 2px black;
}
.ResumenRaza{

    border: 3px solid #00cccc;
}

.ResumenRaza img {

    border-bottom: 3px solid #00cccc;
}

.ContenidoRaza {

    background-color: #00aaaa;
}

.TituloRaza {

    color: yellow;
    border-bottom: 2px #00cccc solid;
}

.ContenidoRaza {

    color: black;
}

/***************************************************************************************************/
/******************************************FORMULARIOS**********************************************/
/***************************************************************************************************/

input[type="button"]:hover {

    color: yellowgreen;
}

input[type="button"]:active {

    color: yellowgreen;
}
.TitulosFormulario{

    background-color: #1f6161;
    color: white;
    border: #1f6161 2px solid;
    border-bottom: #1f6161 4px solid;
}
.contenedorFormulario{

    border-top: #00cccc solid 25px;
}

/*******************************/
/*******FORMULARIOS: Id's*******/
/*******************************/

#recuperarContrasena,#recuperarUsuario{

    background-color: black;
    color: white;
    border: black 3px solid;
    box-shadow: 1px 1px 1px 1px #1f6161;
}
#botonVolverFormulario{

    background-color: black;
    color: white;
    border: black 3px solid;
    box-shadow: 1px 1px 1px 1px #1f6161;
}
#botonVolverFormulario-Solo{

    background-color: black;
    color: white;
    border: black 3px solid;
    box-shadow: 1px 1px 1px 1px #1f6161;
}
#botonEnviar{

    background-color: black;
    color: white;
    border: black 3px solid;
    box-shadow: 1px 1px 1px 1px #1f6161;
}
#SDados{

    background-color: black;
    color: white;
    border: black 3px solid;
    box-shadow: 1px 1px 1px 1px #1f6161;
}
#recuperarContrasena:hover,#recuperarUsuario:hover,#botonVolverFormulario:hover,#botonEnviar:hover{

    color:yellowgreen;
}

/********************************************************************************************************/
/****************************************FORMULARIOS:REGISTRO********************************************/
/********************************************************************************************************/

.bloqueRegistro{

    background-color: yellow;
    border: #1f6161 2px solid;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueRegistro > form > div{

    border: #1f6161 2px solid;
    color:black;
}
.bloqueRegistro label{

    border-bottom: black 2px solid;
}
.bloqueRegistro input{

    color: white;
    background-color:#1f6161;
}
.bloqueRegistro select{
    color: white;
    background-color:#1f6161;
}


/********************************************************************************************************/
/*************************************FORMULARIOS:INICIO SESION******************************************/
/********************************************************************************************************/


.bloqueInicioSesion {

    background-color: yellow;
    border: #1f6161 2px solid;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueInicioSesion > form > div{

    border: #1f6161 2px solid;
    color:black;
}

/***********************************/
/************INICIO: Id's***********/
/***********************************/

#nombreUsuarioIden{

    border-bottom: black 2px solid;
}
#nameIden{

    color: white;
    background-color:#1f6161;
}
#contraUsuarioIden{

    border-bottom: black 2px solid;
}
#passwordIden{

    color: white;
    background-color:#1f6161;
}

/********************************************************************************************************/
/*************************************FORMULARIOS:RECUPERAR DATOS****************************************/
/********************************************************************************************************/


.bloqueRecuperar{

    background-color: yellow;
    border: #1f6161 2px solid;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueRecuperar > form > div{

    border: #1f6161 2px solid;
    color:black;
}

/************************************/
/********RECUPERAR DATOS: Id's*******/
/************************************/

#correoUsuarioRC{

    border-bottom: black 2px solid;
}
#emailRC{

    color: white;
    background-color:#1f6161;
}
#nombreUsuarioRC{

    border-bottom: black 2px solid;
}
#userRC{

    color: white;
    background-color:#1f6161;
}
#contraseñaRC{

    border-bottom: black 2px solid;
}
#passwordRC{

    color: white;
    background-color:#1f6161;
}
#contraseñarpRC{

    border-bottom: black 2px solid;
}
#passwordrpRC{

    color: white;
    background-color:#1f6161;
}

/***************************************************************************************************/
/**********************************FORMULARIOS:REGISTRO MESA****************************************/
/***************************************************************************************************/

.bloqueRegistroMesa{

    background-color: yellow;
    border: #1f6161 2px solid;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(yellow,60%,white);
}
.bloqueRegistroMesa > form > div{

    border: #1f6161 2px solid;
    color:black;
}
.bloqueRegistroMesa label{

    border-bottom: black 2px solid;
}
.bloqueRegistroMesa input{

    color: white;
    background-color:#1f6161;
}
.bloqueRegistroMesa select{

    color: white;
    background-color:#1f6161;
}

/****************************************/
/***********REGISTRO MESA: Id's**********/
/****************************************/

#desMesa{

    color: white;
    background-color:#1f6161;
}
#desMesaMod{

    color: white;
    background-color:#1f6161;
}


/***************************************************************************************************/
/**********************************LISTAS USUARIOS EN MESAS*****************************************/
/***************************************************************************************************/

/***********************************/
/*********+****Usuarios*************/
/***********************************/
.datosMesa {

    box-shadow: 1px 1px 1px 1px #555;
    border: 3px solid #1f6161;
    background-color: #005858;
    border: 2px solid #1f6161;
}
.datosMesa table tr{

    border: 2px #1f6161 solid;
}
.datosMesa table td{

    color: white;
}
.datosMesa table tr:nth-child(odd) {

    background-color: #00aaaa;
}

.datosMesa table tr:nth-child(even) {

    background-color: #00cccc;
}
.botonUsuarios{

    border: #1f6161 2px solid;
    background-color: yellow;
}

.botonUsuarios:hover {

    color:black;
}

/***************************************************************************************************/
/***********************************************MESA************************************************/
/***************************************************************************************************/

.mainMesa{

    background-color: #e3f7f6;
    color: white;
}
.cajaMesa{

    border: 3px solid black;
    background-color: #ddd;
    box-shadow: 1px 1px 1px 1px black;
}
.cajaMesa > h2{

    color: yellow;
    border: solid 3px black;
    background-color: #1f6161;

}
.cambiarMesa {

    background-color: #00cccc;
    color: yellow;
    border: 2px solid black;
}
.mesaDatos {

    box-shadow: 1px 1px 1px 1px black;
    border: 2px solid black;
    background-color: #1f6161;
}
.descripcionMesa {

    box-shadow: 1px 1px 1px 1px black;
    background-color: #1f6161;
    border: 2px solid black;
}
.descripcionMesa > div > span{

    color:yellowgreen;
}
.etiqueta{

    color:yellowgreen;
}
.mesaDatos > div > span{

    color:yellowgreen;
}

/***************************************************************************************************/
/*****************************************LISTA MESAS***********************************************/
/***************************************************************************************************/

/*****************************/
/********Busqueda mesa********/
/*****************************/

.contenedorMesa{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorMesa {

    color:yellow;
}

.buscadorMesa input{

    background-color: #00aaaa;
    color:white;
}

.buscadorMesa select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}
.buscadorMesa button {

    border: black 2px solid;
    background-color: yellow;
}
.buscadorMesa  button:hover {

    background-color: yellowgreen;
}

.buscadorMesa  button:active {

    transform: translateY(0.1em);
}

/*******************************/
/**********Lista Mesas**********/
/*******************************/

.listasMesa{

    border: 2px solid black;
    background: #1f6161;
}
.listaMesa h3{

    color:white;
    background: #1f6161;
}
.listaMesa h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

/*******************************/
/*************Fotos*************/
/*******************************/

.mesa-foto {

    background-color: black;
    border: 4px solid blue;
}

/*******************************/
/*************Botones*************/
/*******************************/
.contenedorBotonesMesa{

    border: 2px solid black;
    background: #1f6161;

}
#botonLleno.estalleno  {

    border: black 2px solid;
    background-color: yellowgreen;
}
#botonLleno.estalleno:hover {
    background-color: yellowgreen;
}

#botonLleno.noestalleno:hover {

    border: black 2px solid;
    background-color: yellow;
}

#botonLleno.noestalleno:hover {
    background-color: yellowgreen;
}

/*******************************************************************************************************/
/*****************************************REGLAS: COMBATE***********************************************/
/*******************************************************************************************************/

.bloqueCombate > h3{

    color:yellow;
    border: black 4px ridge;
    background: #1f6161;
}

.infoCombate div{

    border: black 4px ridge;
    background: #007170;
}

.infoCombate div > p{

    color:black;
    background: #e3f7f6;
}

.infoCombate a{

    color: black;
}
.infoCombate div > table {

    background: #e3f7f6;
}

.infoCombate div > table th, .infoCombate div > table td {

    border: 2px solid black;
    color: black;
}

.infoCombate div > table th {

    color:black;
    background-color: yellow;
}


/*******************************************************************************************************/
/*************************************REGLAS: CREAR PERSONAJES******************************************/
/*******************************************************************************************************/

.bloqueDiseñoPersonaje > h3{

    color:yellow;
    border: black 4px ridge;
    background: #1f6161;
}

.infoDiseñoPersonaje div{

    border: black 4px ridge;
    background: #007170;
}

.infoDiseñoPersonaje div > p{

    color:black;
    background: #e3f7f6;
}

.infoDiseñoPersonaje div > table {

    background: #e3f7f6;
}

.infoDiseñoPersonaje div > table th, .infoDiseñoPersonaje div > table td {

    border: 2px solid black;
    color: black;
}

.infoDiseñoPersonaje div > table th {

    color:black;
    background-color: yellow;
}

/*******************************************************************************************************/
/********************************************REGLAS: DESAFIOS*******************************************/
/*******************************************************************************************************/

.listaDesafios  h3{

    color:yellow;
    background: #1f6161;
    border: black 4px ridge;
}
.listaDesafioTipo {

    border: 5px  #1f6161 outset;
    box-shadow: 10px 10px black;
    background-color: #e3f7f6;
    color: black;
    column-rule-color: #e3f7f6;
}

.listaDesafioTipo h4{

    color: black;
    background-color: yellow;
    border:brown 2px solid;
}

.tipoListaDesafio h5{

    color: yellow;
}

/*************************/
/******Tabla Niveles******/
/*************************/

.niveles{

    color:black;
}

.nivelesPrimeraFila {

    background: yellow;
    color: black;
}

.niveles table{

    border: 2px black solid;
}
.niveles th{

    border: 3px solid black;
}
.niveles td{

    border: 3px solid black;
}
.nivelesExplicacion {

    background-color: #1f6161;
    color: white;
}

/*******************************************************************************************************/
/******************************************REGLAS: INTERPRETACION***************************************/
/*******************************************************************************************************/

.bloqueInterpretar > h3{

    color:yellow;
    border: black 4px ridge;
    background: #1f6161;
}

.infoInterpretar div{

    border: black 4px ridge;
    background: #007170;
}

.infoInterpretar div > p{

    color:black;
    background: #e3f7f6;
}

.infoInterpretar div > table {

    background: #e3f7f6;
}

.infoInterpretar div > table th, .infoInterpretar div > table td {

    border: 2px solid black;
    color: black;
}

.infoInterpretar div > table th {

    color:black;
    background-color: yellow;
}


/*******************************************************************************************************/
/******************************************REGLAS: PRECIOS**********************************************/
/*******************************************************************************************************/

/*************************/
/******Lista precios******/
/*************************/

.ListaPrecios  h3{

    color:yellow;
    border: black 4px ridge;
    background: #1f6161;
}
.Monedas{

    color:black;
}

.MonedasPrimeraFila {

    background: yellow;
    color: black;
}

.Monedas table{

    border: 2px black solid;
    background-color: white;
}

.Monedas td, th{

    border: solid 2px black;
}

.ListaPreciosTipo {

    border: 5px black outset;
    box-shadow: 10px 10px black;
    background-color: #1f6161;
    color: black;
    column-rule-color: blue;
}

.ListaPreciosTipo h4{

    color: black;
    background-color: yellow;
    border:black 2px solid;
}
.TipoListaPrecio h5{

    color: yellowgreen;
}


/*******************************************************************************************************/
/*********************************************REGLAS: TURNOS*******************************************/
/*******************************************************************************************************/

/*************************/
/********Secciones********/
/*************************/
.contenedorTurnos{

    border: 1vmin #1f6161 solid;
    background-color: #1f6161;
    border-color: #1f6161;
}
.titulosTurnos{

    background-color: #1f6161;
    color: yellow;
}

.titulosTurnos > span {

    color: yellow;
}

.contenidoTurnos{

    background-color: #c3ffe2;
}

.subtitulosTurnos{

    color: black;
}

/*************************/
/*******Cada Opcion*******/
/*************************/
.tituloOpcion{

    color: #006666;
}
.descripcionOpcion{

    color:black;
}
.contendorOpcion:hover{

    .tituloOpcion{

        color:#33ffcc;
    }
    .descripcionOpcion{

        color:#33ffcc;
    }
}

/*******************************************************************************************************/
/*********************************************USUARIOS: TODOS*******************************************/
/*******************************************************************************************************/

.contenedorUsuarios{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorUsuarios {

    color:yellow;
}
.buscadorUsuarios input{

    background-color: #00aaaa;
    color:white;
}

.buscadorUsuarios select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}

.buscadorUsuarios button {

    border: black 2px solid;
    background-color: yellow;
}
.buscadorUsuarios > button:hover {

    background-color: yellowgreen;
}

/************************************/
/**********Lista Usuarios************/
/************************************/
.listasUsuarios{

    border: 2px solid black;
    background: #1f6161;
}
.listaUsuario h3{

    color:white;
    background: #1f6161;
}
.listaUsuario h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
.contenedorBotonesUsuarios{

    border: 2px solid black;
    background: #1f6161;
}

/**************************/
/*****Personaje: Fotos*****/
/**************************/

.personaje-foto {

    background-color: black;
    border: 4px solid blue;
}
.personaje-fotoG {

    background-color: black;
    border: 4px solid blue;
}


/*******************************************************************************************************/
/*********************************************USUARIOS: AMIGOS******************************************/
/*******************************************************************************************************/

.contenedorAmigos{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorAmigos {

    color:yellow;
}

.buscadorAmigos input{

    background-color: #00aaaa;
    color:white;
}
.buscadorAmigos select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}
.buscadorAmigos button {

    border: black 2px solid;
    background-color: yellow;
}
.buscadorAmigos > button:hover {

    background-color: yellowgreen;
}


/*************************/
/*******Lista Amigos******/
/*************************/

.listasAmigos{

    border: 2px solid black;
    background: #1f6161;
}
.listaAmigo h3{

    color:white;
    background: #1f6161;
}
.listaAmigo h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}



/****************************/
/*****Contenedor:Botones*****/
/***************************/

.contenedorBotonesAmigos{

    border: 2px solid black;
    background: #1f6161;
}

/*******************************************************************************************************/
/*******************************************USUARIOS: PETICIONES****************************************/
/*******************************************************************************************************/


.contenedorPeticiones{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorPeticiones {

    color:yellow;
}

.buscadorPeticiones input{

    background-color: #00aaaa;
    color:white;
}

.buscadorPeticiones select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}

.buscadorPeticiones button {

    border: black 2px solid;
    background-color: yellow;
}

.buscadorPeticiones > button:hover {

    background-color: yellowgreen;
}


/**********Lista Peticiones************/

.listasPeticiones{

    border: 2px solid black;
    background: #1f6161;
}
.listaPeticion h3{

    color:white;
    background: #1f6161;
}
.listaPeticion h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.contenedorBotonesPeticiones{

    border: 2px solid black;
    background: #1f6161;
}

/*******************************************************************************************************/
/*******************************************USUARIOS: BLOQUEADOS****************************************/
/*******************************************************************************************************/

.contenedorBloqueados{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorBloqueados{

    color:yellow;
}

.buscadorBloqueados input{

    background-color: #00aaaa;
    color:white;
}

.buscadorBloqueados select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}

.buscadorBloqueados button {

    border: black 2px solid;
    background-color: yellow;
}

.buscadorBloqueados > button:hover {

    background-color: yellowgreen;
}

/************************************/
/**********Lista Bloqueados**********/
/************************************/

.listasBloqueados{

    border: 2px solid black;
    background: #1f6161;
}
.listaBloqueado h3{

    color:white;
    background: #1f6161;
}
.listaBloqueado h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
.contenedorBotonesBloqueados{

    border: 2px solid black;
    background: #1f6161;
}

/*******************************************************************************************************/
/*******************************************USUARIOS: PERFIL****************************************/
/*******************************************************************************************************/


.mainPerfil{

    background-color: #e3f7f6;
    color: white;
}


.cajaPersonaje{

    border: 3px solid black;
    background-color: #ddd;
    box-shadow: 1px 1px 1px 1px black;
}

.cajaPersonaje > h2{

    color: yellow;
    border: solid 3px black;
    background-color: #006666;
}

.cambiarPersonaje {

    background-color: #00cccc;
    color: yellow;
    border: 2px solid black;
}

.datosPersonaje {

    box-shadow: 1px 1px 1px 1px black;
    background-color: #005858;
    border: 2px solid #1f6161;
}

.usuarioDatos {

    box-shadow: 1px 1px 1px 1px black;
    border: 2px solid black;
    background-color: #005858;
}
.usuarioDatos > div > span{

    color:yellowgreen;
    font-style: italic;
}
/***************************************************************************************************/
/*****************************************LISTA PERSONAJES******************************************/
/***************************************************************************************************/

/*****************************/
/******Busqueda Personaje*****/
/*****************************/

.contenedorPersonaje{

    border: 2px solid black;
    background: #1f6161;
}

.tituloBuscadorPersonaje {

    color:yellow;
}

.buscadorPersonaje input{

    background-color: #00aaaa;
    color:white;
}

.buscadorPersonaje select {

    border: black 2px solid;
    color:white;
    background-color: #00aaaa;
}
.buscadorPersonaje button {

    border: black 2px solid;
    background-color: yellow;
}
.buscadorPersonaje  button:hover {

    background-color: yellowgreen;
}

.buscadorPersonaje  button:active {

    transform: translateY(0.1em);
}

/*******************************/
/**********Lista Mesas**********/
/*******************************/

.listasPersonaje{

    border: 2px solid black;
    background: #1f6161;
}
.listaPersonaje h3{

    color:white;
    background: #1f6161;
}
.listaPersonaje h4{

    color:yellow;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

/*******************************/
/*************Fotos*************/
/*******************************/

.Personaje-foto {

    background-color: black;
    border: 4px solid black;
}

/*******************************/
/*************Cajas*************/
/*******************************/
.contenedorBotonesPersonaje{

    border: 2px solid black;
    background: #1f6161;

}
/*******************************************************************************************************/
/**********************************************REPETIDO*************************************************/
/*******************************************************************************************************/

/**************************************/
/****************Tabla*****************/
/**************************************/

.diseñoTabla table tr{
    border: 2px black solid;
}
.diseñoTabla table td{
    color: black;
}
.diseñoTabla table tr:nth-child(odd) {
    background-color: #00aaaa;
}
.diseñoTabla table tr:nth-child(even) {
    background-color: #00cccc;
}
.diseñoTabla table tr:hover > td{
    color: yellowgreen;
}

/**************************************/
/***************Botones****************/
/**************************************/

.contenedorBotonesExplorador{

    border: 2px solid black;
    background: #1f6161;
}

.botonArriba{

    border: 2px solid black;
    background: yellow;
    color: #1f6161;
}
.botonDentro{

    border: black 2px solid;
    background-color: yellow;
}

.botonDentro:hover {

    background-color: yellowgreen;
}

#botonMesa.existeMesa  {

    border: black 2px solid;
    background-color: yellowgreen;
}
#botonMesa.existeMesa:hover {
    background-color: yellowgreen;
}
#botonMesa.noExisteMesa:hover {

    border: black 2px solid;
    background-color: yellow;
}
#botonMesa.noExisteMesa:hover {

    background-color: yellowgreen;
}
.boton {

    background-color: #1f6161;
    color: yellow;
}

.botonfinal {

    background-color: #1f6161;
    color: yellow;
}
/*******************************/
/*************Cajas*************/
/*******************************/
.cajaGeneral{

    border: 2px solid black;
    background-color: #003333;
    box-shadow: 1px 1px 1px 1px #555;
}

/*******************************************************************************************************/
/*************************************************CHAT: PERSONAL****************************************/
/*******************************************************************************************************/

#chatAmigos{
    background-color: #1f6161;
}

.contenedorChatAmigos{
    background-color: #1f6161;
}
.contenedorMensajesAmigos{
    background-color: #006666;
    color:white;
}
.contenedorlistaAmigos{
    background-color: #006666;
    color:white;
}
.contenedorEnviarMensajeAmigo{
    background-color: #007170;
}
.amigo-elegido{
    color: yellow;
}
#mensajeInput {
    background: #00cccc;
    color: black;
}
#mensajeInput::placeholder {
    color: black;
}
