
/*************************/
/**********Todo***********/
/*************************/
*{
    margin:0px;
    padding:0px;
}

h2{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    border-bottom: black 2px solid;
}

header{

    text-align: center;
}

main{

    border-top: none;
    width: auto;
    height: auto;
}
section{

    padding: 10px;

}
hr{

    margin-bottom: 10px;
}



/*************************/
/**********Clases*********/
/*************************/

.logo{

    position: relative;

    width: auto;
    max-width: 100%;
    max-height: 5em;

    z-index: 2;

}
.Titulos{

    text-transform: uppercase;

    font-size: 3.5vmin;

    font-weight: 500;
    letter-spacing: 2px;

    border: none;

    margin-left: 10px;
    margin-bottom: 10px;
}
.explicacionesPestañas{

    text-align: center;
    font-size: 18px;

    padding: 10px;
}

input:invalid + span.validity::after {
    content: "✖";
}
input:valid + span.validity::after {
    content: "✓";
}
@media screen and (max-height: 700px){

    .footerGeneral{

        height: 13px;
        font-size: 12px;
    }
}
@media screen and (max-height: 600px){

    .footerGeneral{

        height: 11px;
        font-size: 10px;
    }

}
@media screen and (max-height: 400px){

    .Titulos{

        font-size: 7vmin;
    }
    .footerGeneral{

        height: 9px;
        font-size: 8px;
    }
}
@media screen and (max-height: 200px){


    .footerGeneral{

        height: 7px;
        font-size: 6px;
    }
}




/*************************************/
/*********Menus de Navegación*********/
/*************************************/

@media screen and (min-width: 850px){
    .menuVertical{

        display: none;
    }
    .menuHorizontal{

        display: block;
    }

}
@media screen and (max-width: 850px){
    .menuVertical{

        display: block;
    }
    .menuHorizontal{

        display: none;
    }

}
.barraHorizontal{


    font-family: Times new roman;
    font-size: 22px;

    display: flex;
    flex-direction: row;
    z-index: 1;

    height: 25px;

    padding: 10px;
    margin-top: -9px;
}



/*******************************/
/*******Barra Horizontal********/
/*******************************/

.barraHorizontalContenido, .barraHorizontalContenido>a{

    font-family: serif;
    text-decoration: none;
    margin: 0 10px;
}
.barraHorizontalContenido:visited, .barraHorizontalContenido>a:visited{

    font-family: serif;
    text-decoration: none;
}

.BarraHorizontalContenidoFinal{

    font-family: serif;
    text-decoration: none;
    font-size: 22px;
    margin-left: auto;
}
.BarraHorizontalContenidoFinal:visited{

    text-decoration: none;
    font-size: 22px;
    word-spacing: 5px;
    margin-left:auto;
}

/*******************************/
/*******Bloques de la barra*****/
/*******************************/

.barraHorizontalDrop {

    display: inline-block;
    position: relative;
    z-index: 2;
}
.barraHorizontalContenidoDrop {

    display: none;
    position: absolute;
    width: 85%;

    overflow: auto;

    border-top: none;
    border-radius: 0px 0px 10px 10px;

    font-size: 14px;
    padding-top: 5px;
    margin-left: 10px;

    z-index: 2;
}
.barraHorizontalDrop:hover
.barraHorizontalContenidoDrop {

    display: block;

}
.barraHorizontalContenidoDrop > a {

    display: block;
    padding: 5px;
    text-decoration: none;
    border-left: white 1px dashed;
    border-right: white 2px double;

}


/*******************************/
/*******Barra Vertical**********/
/*******************************/

.barraVertical{

    display:none;
    position: absolute;
    z-index: 2;

    border-radius: 0px 0px 15px 15px;

    overflow: hidden;
    width: 150px;
    height: auto;


}
.barraVerticalUno{

    margin-left: 10px;

}

.barraVerticalUno > li {

    width: auto;

    list-style: none;

    height: 30px;

    overflow: hidden;

    font-size: 16px;

    transition: 3s;
}
.barraVerticalUno  li:first-child{

    margin-top: 10px;
}

.barraVerticalUno li a,
.barraVerticalUno li div{

    text-decoration: none;
    font-family: sans-serif;

}
/******Dropea la lista*****/

.unoDrop.primero:hover{

    height: 65px;
}
.unoDrop.segundo:hover{

    height: 150px;
}
.unoDrop.tercero:hover{

    height: 150px;
}
.unoDrop.cuarto:hover{

    height: 80px;
}

/***Lista Sobre Lista****/

.barraVerticalDos  li{

    margin-left: 10px;
    font-size: 13px;
    list-style: none;
}
.barraVerticalDos  li  a:hover{

    margin-left: 10px;

}

/**************************************/
/*******Boton abrir Menu Vertical******/
/**************************************/

.botonMenuVertical{

    padding: 0.1vmin 5vmin;
    font-size: 2.5vmin;

}
