
/***Barra arriba clases***/

.BusquedaClase{

    font-family: Times new roman;
    font-size: 3.5vmin;

    display: flex;
    justify-content: space-between;
    width: auto;

    border-top: none;

}
.BusquedaClase > a{

    font-family: Times new roman;
    text-decoration: none;
}
.BusquedaClase >  #A{

    padding-left: 10%
}
.BusquedaClase > #P{

    padding-right:10%
}

/*******Lista Clases******/

.ResumenClases
{
    font-family: Times new roman;
    width: auto;
    height: auto;
}
.ResumenClase > h5{

    font-family: Times new roman;
    font-size: 3.5vmin;

    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;

}
.ResumenClase > li{

    border: brown 3px outset;
    display: flex;

}
.ResumenClase > li > img{

    border-left: none;
}
.ResumenClase > li > p{

    margin: 10px;
    font-size: 3vmin;
}

.ListaClases  ul:last-child{

    margin-bottom: 30px;
}
@media screen and (min-width: 2200px) {

    .ResumenClase > li > p{

        font-size: 2.5vmin;
    }
}
@media screen and (max-width: 800px) {

    .ResumenClase > li > img{

        width: 50vmin;
        height: 50vmin;
    }

    .ResumenClase > li > p{

        margin: 10px;
        font-size: 3vmin;
    }
}
@media screen and (max-width: 350px) {

    .ResumenClase > li > img{

        width: 50vmin;
        height: 50vmin;
    }

    .ResumenClase > li > p{

        margin: 10px;
        font-size: 2.5vmin;
    }
}
@media screen and (max-width: 200px) {

    .ResumenClase > li > img{

        width: 50vmin;
        height: 50vmin;
    }

    .ResumenClase > li > p{

        margin: 10px;
        font-size: 2vmin;
    }
}