
.arribaDatosClase {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.datosIzquierdaClase {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.datosIzquierdaArribaClase {
    display: flex;
}
.datosIzquierdaArribaClase img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}
.caracteristicasClase {
    margin-left: 20px;
    margin-top: 25px;
}
.datosIzquierdaAbajoClase {
    margin-top: 10px;
}
.datosDerechaClase {
    flex: 1;
    margin-left: 20px;
}
.tablaHechizos {
    width: 90%;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
}
.tablaHechizos th, .tablaHechizos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



