
/**********Barra arriba Estados************/

.BusquedaEstados{

    font-family: Times new roman;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: auto;
    border-top: none;
}
.BusquedaEstados > a{

    font-family: Times new roman;
    text-decoration: none;
}
.BusquedaEstados >  #A{

    padding-left: 10%
}
.BusquedaEstados > #P{

    padding-right:10%
}

/*******Lista Estados******/

.ResumenEstado{

    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}
.NombreEstado{

    flex: 1;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.NombreEstado h5{

    font-family: Times new roman;
    font-size: 25px;
    margin: 0;
    text-align: center;
}
.TextoEstado{

    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
.TextoEstado p{

    margin-bottom: 10px;
    font-size: 18px;
    margin: 0;
}
@media (max-width: 600px) { 
    .ResumenEstado {
        flex-direction: column;
    }
    .NombreEstado{
        min-height: 200px;
        min-width: 99%;
    }
}

