
/**********Barra arriba Razas************/

.BusquedaRazas{

    font-family: Times new roman;
    font-size: 25px;
    justify-content: space-between;
    width: auto;
    border-top: none;
    text-align: center;
}
.BusquedaRazas > a{

    font-family: Times new roman;
    text-decoration: none;
}

/********Lista Razas******/

.ResumenRazas{

    font-family: Times new roman;
    font-size: 22px;
    width: auto;
    height: auto;
}
.ResumenRazas > h3{

    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 3vmin;
}
.ResumenRazas > h3 > input{

    width: 250px;
    padding: 0px 0px 3px 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: -10px;
    outline: none;
}
.ResumenRazas > hr{

    margin-bottom: 10px;
}
.ListaRazas > h3{

    margin-top: 10px;
    text-align: center;
}

.ListaRazasTipo{

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px){
    .ListaRazasTipo{

        margin-left: 110px;
    }
}
    
.ResumenRaza{

    flex: 0 0 275px;
    border-radius: 5px;
    overflow: hidden;
}
.ResumenRaza img {

    width: 100%;
    margin-bottom: -6px;
    max-height: 270px;
    object-fit: contain;
}

.ContenidoRaza {

    padding: 20px;
}

.TituloRaza {

    font-size: 30px;
    margin-bottom: 10px;
}

.ContenidoRaza {
    
    font-size: 16px;
}

