

.bloqueCombate > h3{

    margin-top: 10px;
    color:yellowgreen;
    border: black 4px ridge;
    background: brown;
    text-align: center;
    font-size: 3.5vmin;
}
.infoCombate{

    display: flex;
    flex: 1;

    padding: 10px;
}

.infoCombate div{

    flex: 1;

    border: dimgray 4px ridge;
    background: black;
    margin: 10px;
    
    margin: 10px;
    margin-bottom: 20px;

    font-size: 2vmin;
    
}

.infoCombate div > p{

    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background: #191919;
    
}

.infoCombate a{

    text-decoration: none;
    text-align: center;

    font-size: 2vmin;
    color: yellow;

}
.infoCombate div > table {

    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
    background: #191919;

}

.infoCombate div > table th, .infoCombate div > table td {

    border: 2px solid white;
    text-align: center;
    padding: 8px;
}

.infoCombate div > table th {

    color:yellow;
    background-color: brown;
    text-align: center;
}
@media screen and (max-width: 850px){

    .infoCombate{

        display: block;
    }
    .bloqueCombate > h3{

        font-size: 5vmin;
    }
    .infoCombate div > table{

        font-size: 4vmin;
    }

    .infoCombate div > table td,  .infoCombate div > table th {

        border: 0.1px solid white;
        padding: 2px;
        font-size: 2vmin;
    }
}

