

.bloqueInterpretar > h3{

    margin-top: 10px;

    color:yellowgreen;
    border: black 4px ridge;
    background: brown;

    text-align: center;

    font-size: 3vmin;
}

.infoInterpretar{

    display: flex;
    flex: 1;

    padding: 10px;
}

.infoInterpretar div{

    flex: 1;

    border: dimgray 4px ridge;
    background: black;
    margin: 10px;

    margin: 10px;
    margin-bottom: 20px;

    font-size: 2vmin;
}

.infoInterpretar div > p{

    padding: 10px;
}

.infoInterpretar div > p:nth-child(2){

    font-size: 1.5vmin;
}
.infoInterpretar div > table {

    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;

}

.infoInterpretar div > table th, .infoInterpretar div > table td {

    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

.infoInterpretar div > table th {

    color:yellowgreen;
    background-color: brown;
    text-align: center;
}

@media screen and (max-width: 850px){

    .infoDiseñoPersonaje{

        display: block;
    }
    .bloqueDiseñoPersonaje > h3{

        font-size: 5vmin;
    }
    .infoDiseñoPersonaje div > p:nth-child(2){

        font-size: 2vmin;
    }
    .infoDiseñoPersonaje div > table{

        font-size: 4vmin;
    }

    .infoDiseñoPersonaje div > table td,  .infoDiseñoPersonaje div > table th {

        border: 0.1px solid white;
        padding: 2px;
        font-size: 2vmin;
    }
}
