
.personajeAtributos {
    background-color: black;
    border: 5px inset brown;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    width: 80%;
    margin: 100px auto 100px auto;
    padding: 10px;

    box-sizing: border-box;
    color: white;
}

.puntos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 3vmin;
}

.puntos-contenedor {
    display: flex;
    align-items: center;
}
.puntos-contenedor label{
    width: 16vmin;
}
.modificadores {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.puntos-contenedor > input[type="number"] {

    width: 50px;
    text-align: center;
    font-size: 2.5vmin;
}


