
.personajeAtributos {
    background-color: black; /* Fondo negro */
    border: 2px solid brown; /* Bordes negros */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    width: 50%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir bordes en el tamaño */
}

.puntos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.puntos-contenedor {
    display: flex;
    align-items: center;
}

.modificadores {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.puntos-contenedor > input[type="number"] {

    width: 50px;
    text-align: center;
    font-size: 16px;
}

