
.arribaDatosCaracteristicas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.datosIzquierdaCaracteristicas  {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.datosIzquierdaArribaCaracteristicas  {
    display: flex;
    margin-top: 10px;
    min-width: 325px;
}
.caracteristicasCaracteristicas {
    padding: 20px;
}
.datosIzquierdaArribaCaracteristicas  img {
    max-width: 300px;
    height: auto;
    margin-right: 10px;
}
.caracteristicasClase {
    margin-left: 20px;
    margin-top: 25px;
    padding: 20px;
}
.datosIzquierdaAbajoCaracteristicas  {
    margin-top: 10px;
    margin-bottom: 30px;
}
.datosDerechaCaracteristicas  {
    max-width: 700px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
@media screen and (max-width: 1300px) {
    .datosIzquierdaCaracteristicas  img{
        width: 150px;
        height: 150px;
    }
    .arribaDatosCaracteristicas  {
        flex-direction: column;
    }
    .datosDerechaCaracteristicas  {
        flex: none;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}