.buscadorPersonaje button {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    width: auto;
}

@media screen and (max-width: 800px) {
    .buscadorPersonaje > button {
        font-size: 15px;
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .buscadorPersonaje > button {
        font-size: 12px;
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .buscadorPersonaje > button {
        font-size: 10px;
        width: 25%;
    }
}

@media screen and (max-width: 400px) {
    .buscadorPersonaje > button {
        font-size: 10px;
        width: 25%;
    }
}

/**********************************/
/********Busqueda Personaje********/
/**********************************/

.contenedoresPersonaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorPersonaje {
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 10px;
    width: 95%;
    box-sizing: border-box;
}

.tituloBuscadorPersonaje {
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

.buscadorPersonaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.buscadorPersonaje select {
    width: 68%;
    margin-bottom: 10px;
}

.buscadorPersonaje button:hover {
    transform: translateY(-0.1em);
}

.buscadorPersonaje button:active {
    transform: translateY(0.1em);
}

/*******************************/
/*******Lista Personajes********/
/*******************************/

.listasPersonaje {
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
    min-height: 250px;
    width: 95%;
    box-sizing: border-box;
}

.listaPersonaje h3 {
    font-size: 20px;
    border: 0px;
    margin: -10px -10px 5px -10px;
    padding: 5px;
    padding-bottom: 20px;
}

.listaPersonaje h4 {
    font-size: 16px;
    margin: 0px -10px 0px -10px;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/*******************************/
/*************Fotos*************/
/*******************************/

.personaje-foto {

    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.personaje-foto img {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1200px){
    .personaje-foto {

        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 1000px){
    .personaje-foto {

        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width: 800px){
    .personaje-foto {

        width: 65px;
        height: 65px;
    }
}
@media screen and (max-width: 650px){
    .personaje-foto {

        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 515px){
    .personaje-foto {

        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 400px){
    .personaje-foto {

        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 300px){
    .personaje-foto {

        width: 30px;
        height: 30px;
    }
}



