

.arribaDatosRasgos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.datosIzquierdaArribaRasgos {
    display: flex;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.caracteristicasRasgos {
    margin-left: 10px;
    margin-top: 5px;
    padding: 15px;
}
.datosIzquierdaAbajoRasgos {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}