
.arribaDatosRaza {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.datosIzquierdaRaza {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.datosIzquierdaArribaRaza {
    display: flex;
}
.caracteristicasRaza {
    padding: 20px;
}
.datosIzquierdaArribaRaza img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}
.caracteristicasClase {
    margin-left: 20px;
    margin-top: 25px;
    padding: 20px;
}
.datosIzquierdaAbajoRaza {
    margin-top: 10px;
    margin-bottom: 30px;
}
.botonArribaSubRazas{
    position: fixed;
    right: 20px;
    width: auto;
}
@media screen and (max-width: 768px) {
    .arribaDatosRaza {
        flex-direction: column;
    }
    .datosDerechaRaza {
        flex: none; 
        margin-left: 0; 
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
